app:
   test-email: javawebinar@yandex.ru

mail.async:
   corePoolSize: 8
   maxPoolSize: 8
   queueCapacity: 1000

spring:
    profiles.active: dev
    jpa.properties.hibernate.hbm2ddl.import_files_sql_extractor: org.hibernate.tool.hbm2ddl.MultipleLinesSqlCommandExtractor
    thymeleaf.mode: HTML5
    mvc.favicon.enabled: false

    data.rest:
      base-path: /api
      default-page-size: 100

spring.cache:
    cache-names: group, groups, project, projects
    guava.spec: maximumSize=100, expireAfterAccess=300s

logging:
    file: javaops.log
    level:
       ru.javaops: DEBUG
       org.hibernate.engine.jdbc.spi.SqlStatementLogger: DEBUG

spring.http.encoding:
         charset: UTF-8 # Charset of HTTP requests and responses. Added to the "Content-Type" header if not set explicitly.
         enabled: true # Enable http encoding support.
         force: true