<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Старт проекта 'Многопоточность. XML. Веб сервисы.'</title>
</head>
<p th:replace="mailFragments::header(${user})">
    Здравствуй!<br/>
</p>
Рад сообщить, что 23.09 (пятница) в 20.00 будет 2-е занятие masterjava:
<ul>
    <li>разбор <a href="https://github.com/JavaOPs/masterjava#-Вступительное-задание">вступительного задания</a></li>
    <li>прикручивание Microbenchmarking Framework JMH (от Алексея Шипилева)</li>
    <li> XML технологии: XML. XSD, XPath, XSL(T) в Java: DOM, SAX, StAX, XSLT</li>
    <li>домашнее задание по Java XML</li>
</ul>
План занятий еще будет уточняться в процессе проведения проекта.
<p>
Вебинар будет вестись в Adobe Connect (<a href="http://admin.adobeconnect.com/common/help/ru/support/meeting_test.htm">диагностика
    подключения</a>) с одновременной записью. Удобно, что участники вебинара могут общаться голосом и в чате и
запись доступна сразу после вебинара.
Ограничение: 25 человек, включая меня. Т.е. после 24-го человека можно будет участвовать по записям занятий и в слаке
(записи
планирую редактировать и выкладывать в Google Doc), сейчас нас 9.
</p>
<p>
    Жду решений <a href="https://github.com/JavaOPs/masterjava#-Вступительное-задание">вступительное задание</a> от всех
    для сравнивания скорости.
    У кого есть проверка буду делать разбор.
    Сылку на github шлите мне в личку в группе slack <a href="https://javaops.slack.com/">Java Online Projects</a>, а я буду
    публиковать результаты выполнения на своем
    компе в канале <a href="https://javaops.slack.com/messages/masterjava/">masterjava</a>.
</p>
<p>
    Если тебя еще нет в этой группе slak, проверь пожалуйста свои данные <a
        th:href="@{http://javaops.ru/participate(email=${user.email}, key=${activationKey}, project='javaops')}">регистрационной
    формы</a>
    (если ссылка не работает и есть желание принять участие в masterjava - свяжись со мной в skype:
    <b>grigory.kislin</b>).
    Галочка 'размещение своих данных в закрытой статистике группы' говорит о том, что участники проектов смогут увидеть
    твои контактные данные в статистике.
    После сохранения формы на почту должно прийти приглашение в эту группу. Пока, думаю, будем общаться там, но, по
    потребности, можно будет создать новую.
</p>
<p>
    <b>Перед 2-м занятием нужно <a href="http://javaops.ru/payment.html">оплатить участие</a></b>: 7900 руб. без
    проверки ДЗ и 15000 руб. с проверкой
    (после оплаты отписывайтесь в skype <b>grigory.kislin</b> с вашим email). Если важно участие в вебинаре, перед оплатой
    поинтересуйся в skype текущим номером.
</p>
Жду ваших вступительных ДЗ и до встречи на проекте,
<p th:include="mailFragments::footer(${subscriptionUrl})">
</p>
</html>