<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Обновления 'Masterjava'</title>
</head>
<p th:replace="mailFragments::header(${user})">
    Здравствуй!<br/>
</p>
Доделал и выложил <a href="https://github.com/JavaWebinar/masterjava/blob/lesson/doc/lesson10.md">отредактированные видео предпоследнего (10-го) занятия</a>.
Также <a href="https://github.com/JavaWebinar/masterjava/">репозиторий обновился</a> патчами по JMS.<br/>
<p>
Все материалы проекта (+архив репозитория) скопировал в <a href="https://drive.google.com/drive/folders/0B9Ye2auQ_NsFMlB2TGltT1VRUW8">Google Drive/MasterJava01</a>,
    на MasterJava02 начнем репозиторий проекта заново (с 1го занятия), обновление будет патчами.
</p>
Завтра буду делать рассылку обновленного 2-го занятия на Masterjava-2 (<a th:href="@{http://javaops.ru/repeat(email=${user.email}, project='masterjava')}">ссылка на бесплатный повтор</a>,
проверка ДЗ сохраняется).
<p th:include="mailFragments::generalFooter">
</p>
</html>