<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Участие в проекте 'Masterjava'</title>
</head>
<p th:replace="mailFragments::header(${user})">
    Здравствуй firstName!<br/>
</p>
<h3>Поздравляю тебя с участием в проекте <br/>
    <a href="https://github.com/JavaOPs/masterjava">Многомодульный maven.
        Многопоточность. XML. Веб сервисы. Удаленное взаимодействие!</a></h3>
Общение на проекте продолжаем на "ты":) Проект будет вестись по подготовленным на основе вебинаров, разбитым по темам и отредактированым записям. Раз в
неделю (во вторник) производится рассылка новых материалов, обновления к проекту (патчи) и домашние задания, которые нужно
будет делать в ветках git. Официальное начало первого занятия: 28.02.
Т.е <b><a href="https://github.com/JavaOPs/masterjava#Занятие-2">второе занятие</a> буду рассылать 07.03.</b>
До этого можно <b>приступать в выполнению <a
        href="https://github.com/JavaOPs/masterjava#Первое-занятие-многопоточность">первого занятия Многопоточность</a></b>.
Выполнение домашнего задания и чекин в свой репозиторий нужно делать согласно <b><a
        href="https://github.com/JavaOPs/topjava/wiki/Git">wiki по ведению
    проекта в Git</a></b> (в <a href="https://github.com/JavaOPs/topjava#Вводное-занятие">вводном занятии проекта
    TopJava</a> есть видео с правилами работы с Git и c проектом).
<h3>Проверка домашних заданий</h3>
Разбор домашний заданий происходит в начале каждого занятия.<br/>
Если у тебя участие с проверкой ДЗ, то свое решение вступительного задания желательно присылать на проверку начиная c
28.02 до вечера 05.03, остальных домашних заданий - до вечера воскресенья.
<h3>Приглашение в Slack и доступ к материалам</h3>
Общение на проекте будет вестись в <a href="https://masterjava02.slack.com">группе Slack</a>. Заполни пожалуйста все
поля <b><a
        th:href="@{http://javaops.ru/participate(email=${user.email}, key=${activationKey}, project='masterjava')}"
        href="#">регистрационной формы</a>.</b> После ее сохранения
<ul>
    <li>на почту придет приглашение в группу Slack (обычно в течении 5 мин, проверь папку спам)</li>
    <li>по gmail аккаунту предоставится доступ к материалам. Если <b><a href="https://drive.google.com/open?id=0B9Ye2auQ_NsFQW1DUkZRbTR2RFU">
         картинка по ссылке закрыта</a></b>, по порядку:
        <ul>
            <li>выйти-войти в gmail аккаунт</li>
            <li>попробовать войти в анонимной вкладке</li>
            <li><b>Внимание!! НЕ НАДО запрашивать доступ через Google Drive (он дается автоматически по заполнению формы)</b></li>
            <li>если доступа нет, напиши мне в skype <i>grigory.kislin</i> или в <a href="https://masterjava02.slack.com/messages/@grigory.kislin/">личку в группы Slack</a></li>
        </ul>
    </li>
</ul>

Общение в Slack происходит в каналах по темам, для каждого нового урока будет делаться отдельный канал.<br/>
Обсуждение первого занятия происходит в канале Slack <a
        href="https://masterjava02.slack.com/messages/hw01/">#hw01</a>.<br/>
<ul>
    <li><a href="https://masterjava02.slack.com/messages/flooding/">#flooding</a>: оффтопик</li>
    <li><a href="https://masterjava02.slack.com/messages/general/">#general</a>: общие вопросы</li>
    <li><a href="https://masterjava02.slack.com/messages/help/ё">#help</a>: помощь</li>
    <li><a href="https://masterjava02.slack.com/messages/git/">#git</a>: вопросы по git</li>
    <li><a href="https://masterjava02.slack.com/messages/idea/">#idea</a>: вопросы по idea</li>
    <li><a href="https://masterjava02.slack.com/messages/links">#links</a>: интересные ресурсы</li>
</ul>
<a href="https://get.slack.help/hc/en-us/articles/202288908-Formatting-your-messages">Форматирование сообщений в
    slack</a><br/>
<a href="https://slack.com/downloads">Desktop/ Mobile приложение Slack</a>
<h3>IDE: JetBrains IDEA</h3>
Разработка проекта ведется в JetBrains IDEA, <a href="https://www.jetbrains.com/idea/download">брать версию Ultimate</a>.
 Если ты студент (или есть знакомые студенты/ аспиранты), то лучше взять <a href="https://www.jetbrains.com/student/">студенческую
    учебную лицензию JetBrains IDEA на год</a>. Купон на <b>бесплатную личную лизензию IntelliJ IDEA на полгода</b> можно получить согласно политике JetBrains только
один раз <a th:href="@{http://javaops.ru/idea(email=${user.email}, project='masterjava')}">по этой ссылке</a> и далее по
инструкции в письме.
<p>
    <span>Удачи в освоении материалов и выполнении первого ДЗ,</span><br/>
    Григорий Кислин<br/>
    <em>skype: grigory.kislin</em>
</p>
<p>
    <a href="http://javaops.ru">Java Online Projects</a>
</p>

</html>