<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::headTag('Изменение подписки')">
    <meta charset="UTF-8"/>
    <title>Изменение подписки</title>
    <link rel="stylesheet" href="../static/bootstrap-3.3.6/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../css/style.css"/>
    <link rel="shortcut icon" href="../static/img/java_cup.ico"/>
</head>
<body>
<th:block th:include="fragments::header(${authorized})"/>
<div class="jumbotron">
    <div class="container">
        <br/>
        <h3 th:text="'Ваша подписка '+ (${activate} ? 'включена.' : 'выключена.')">
            Ваша подписка выключена.
        </h3>
        <h4><a th:href="${subscriptionUrl}">Изменить подписку</a></h4>
    </div>
</div>
</body>
</html>
