<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::headTag()">
    <link rel="stylesheet" href="../static/bootstrap-3.3.6/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../static/bootstrap-3.3.6/css/blog.css"/>
    <link rel="stylesheet" href="../css/style.css"/>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top" th:replace="fragments::header"></div>
<div class="jumbotron">
    <div class="container box">
        <h2>Ты уже зарегистрирован на новом проекте!</h2>
        <h3>Поищи в почте: при первой регистрации должно было прийти приглашение в группу Slack.</h3>
    </div>
</div>
</body>
</html>
