<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::headTag('')">
    <link rel="stylesheet" href="../static/css/bootstrap.css"/>
    <link rel="stylesheet" href="../static/css/mdb.css"/>
    <link rel="stylesheet" href="../static/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../css/style.css"/>
</head>
<body>
<nav th:replace="fragments::header" class="navbar fixed-top navbar-toggleable-md navbar-dark nav-bgr">
    <div class="container">
        <a href="/" class="navbar-brand"><strong>Java Online Projects</strong></a>
    </div>
</nav>
<div class="container box">
    <div class="jumbotron">
    <br/>
        <h4>Ошибка приложения:</h4>
        <!--/*@thymesVar id="message" type="java.lang.String"*/-->
        <h2 th:utext="${status}">403</h2>
        <p class="lead text-muted" th:utext="${message}">message</p>
    </div>
</div>
</body>
<th:block th:include="fragments::js-skype"/>
</html>