<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::headTag('')">
    <link rel="stylesheet" href="../static/bootstrap-3.3.6/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../static/bootstrap-3.3.6/css/blog.css"/>
    <link rel="stylesheet" href="../css/style.css"/>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top" th:replace="fragments::header"></div>
<div class="jumbotron">
    <div class="container box">
        <br/>
        <h4>Ошибка приложения:</h4>
        <!--/*@thymesVar id="message" type="java.lang.String"*/-->
        <h2 th:utext="${status}">403</h2>
        <p class="lead text-muted" th:utext="${message}">message</p>
    </div>
</div>
</body>
</html>