<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headTag (title)">
    <meta charset="UTF-8"/>
    <title th:text="${title}"></title>
    <link rel="stylesheet" href="/static/bootstrap-3.3.6/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/bootstrap-3.3.6/css/blog.css"/>
    <link rel="stylesheet" href="/static/plugins/bootstrap.footnotes.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="shortcut icon" href="/static/img/java_cup.ico"/>
</head>

<div class="navbar navbar-inverse navbar-fixed-top" th:fragment="header">
    <div class="container">
        <a href="/" class="navbar-brand">Java Online Projects</a>
        <div class="collapse navbar-collapse">
            <form class="navbar-form navbar-right">
                <a href="skype: grigory.kislin" class="btn btn-link">skype: grigory.kislin</a>
                <a href="mailto:admin@javaops.ru" class="btn-link"><img src="/static/img/email.png"/></a>
                <a href="https://vk.com/javawebinar" class="btn-link" target="_blank"><img src="/static/img/vk.gif"/></a>
            </form>
        </div>
    </div>
</div>

<th:block th:fragment="footer">
    <script src="/static/jquery-1.12.0.min.js"></script>
    <script src="/static/bootstrap-3.3.6/js/bootstrap.min.js"></script>
</th:block>

<th:block th:fragment="footnotes">
    <link rel="stylesheet" href="/static/plugins/bootstrap.footnotes.css"/>
    <script src="/static/plugins/bootstrap-tooltip.js"></script>
    <script src="/static/plugins/bootstrap-popover.js"></script>
    <script src="/static/plugins/bootstrap.footnotes.js"></script>
</th:block>

<th:block th:fragment="yandex">
    <script th:inline="javascript">
        /*<![CDATA[*/
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter36112350 = new Ya.Metrika({
                        id:36112350,
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true
                    });
                } catch(e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                    s = d.createElement("script"),
                    f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
        /*]]>*/
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/36112350" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
</th:block>
</html>