<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headTag (title)">
    <meta charset="UTF-8"/>
    <title th:text="${title=='' ? 'Java Online Projects': title}"></title>
    <link rel="stylesheet" href="/static/bootstrap-3.3.6/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/bootstrap-3.3.6/css/blog.css"/>
    <link rel="stylesheet" href="/static/plugins/bootstrap.footnotes.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="shortcut icon" href="/static/img/java_cup.ico"/>
</head>

<div class="navbar navbar-inverse navbar-fixed-top" th:fragment="header">
    <div class="container">
        <a href="/" class="navbar-brand">Java Online Projects</a>
        <div class="collapse navbar-collapse">
            <form class="navbar-form navbar-right">
                <a href="skype: grigory.kislin" class="btn btn-link">skype: grigory.kislin</a>
                <a href="mailto:admin@javaops.ru" class="btn-link">&nbsp;</a>
                <a href="https://vk.com/javawebinar" class="btn-link" target="_blank">&nbsp;</a>
            </form>
        </div>
    </div>
</div>

<th:block th:fragment="footer">
    <hr/>
    <script type="text/javascript" src="//yastatic.net/share/share.js" charset="utf-8"></script>
    <div class="yashare-auto-init" data-yashareL10n="ru"
         data-yashareType="button"
         data-yashareQuickServices="vkontakte,facebook,twitter,odnoklassniki,moimir">
    </div>
    <br/>
    <script src="/static/jquery-1.12.0.min.js"></script>
    <script src="/static/bootstrap-3.3.6/js/bootstrap.min.js"></script>
    <footer>
        Java Enterprise JavaEE проект стажировка обучение курсы online онлайн обучение e-lerning семинар вебинар
        программирование
        джава удаленное обучение корпоративное обучение JPA Maven Spring Hibernate REST webinar intership
        Москва Санкт-Петербург Киев Kiev Минск Minsk Харьков Новосибирск Днепропетровск Одесса Уфа Владивосток
        Краснодар Львов Запорожье Самара Нижний Новгород Николаев Гродно Казань Караганда Гомель Пермь
        Рига Алматы Днепр Саратов Астана Екатеринбург Ростов-на-дону Херсон Воронеж Ижевск
    </footer>
</th:block>

<th:block th:fragment="footnotes">
    <link rel="stylesheet" href="/static/plugins/bootstrap.footnotes.css"/>
    <script src="/static/plugins/bootstrap-tooltip.js"></script>
    <script src="/static/plugins/bootstrap-popover.js"></script>
    <script src="/static/plugins/bootstrap.footnotes.js"></script>
</th:block>

<th:block th:fragment="skype">
    <a data-config="commands=chat,add;size=14;status=on;theme=logo;bgcolor=#2a92f3" id="skaip-buttons"
       href="http://www.skaip.su/">Skype</a>
    <script src="http://apps.skaip.su/buttons/widget/core.min.js" defer="defer"></script>
</th:block>

<th:block th:fragment="delim(name, title)">
    <h3 class="text-center"><a th:name="${name}" class="anchor" th:text="${title}"></a></h3>
</th:block>

<div th:fragment="modal(project, title)">
    <hr/>
    <table width="100%">
        <tr>
            <td>
                <h3 class="text-center" th:text="${title}"></h3>
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <form class="form-horizontal" action="/register" method="post">
                                <div class="form-group">
                                    <label for="nameSurname" class="control-label col-xs-3">Имя</label>
                                    <div class="col-xs-9">
                                        <input class="form-control" id="nameSurname" name="nameSurname"
                                               placeholder="Имя Фамилия"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="email" class="control-label col-xs-3">Электронная почта</label>
                                    <div class="col-xs-9">
                                        <input type="email" class="form-control" id="email" name="email"
                                               placeholder="email"/>
                                    </div>
                                </div>
                                <input type="text" name="template" th:value="|${project}_entrance|" hidden="hidden"/>
                                <input type="text" name="project" th:value="${project}" hidden="hidden"/>

                                <div class="form-group">
                                    <div class="col-xs-offset-3 col-xs-9">
                                        <button type="submit" class="btn btn-primary">Выслать ссылку</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </td>
            <td>
                <script type="text/javascript" src="//vk.com/js/api/openapi.js?136"></script>
                <div id="vk_groups"></div>
                <script type="text/javascript">
                    VK.Widgets.Group("vk_groups", {mode: 3, width: "220"}, 58538268);
                </script>
            </td>
        </tr>
    </table>
</div>
</html>