<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::headTag('')">
    <link rel="stylesheet" href="../static/css/bootstrap.css"/>
    <link rel="stylesheet" href="../static/css/mdb.css"/>
    <link rel="stylesheet" href="../static/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../css/style.css"/>
</head>
<body>
<nav class="navbar fixed-top navbar-toggleable-md navbar-dark nav-bgr" th:fragment="header">
    <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="true"
                aria-label="Меню">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a href="/" class="navbar-brand">Java Online Projects</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a href="/view/story" class="nav-link waves-effect waves-light">Истории</a>
                </li>
                <li class="nav-item">
                    <a href="/view/books" class="nav-link waves-effect waves-light">Литература</a>
                </li>
                <li class="nav-item">
                    <a href="/view/payment" class="nav-link waves-effect waves-light">Оплата</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto nav-flex-icons">
                <li class="nav-item nav-link">
                    <a href="skype: grigory.kislin">
                        <span class="fa fa-skype" aria-hidden="true">grigory.kislin</span>
                    </a>
                </li>
                <li class="nav-item nav-link">
                    <a href="mailto:admin@javaops.ru">admin@javaops.ru</a>
                </li>
                <li class="nav-item nav-link">
                    <a href="https://vk.com/javawebinar" target="_blank">
                        <i class="fa fa-vk" aria-hidden="true">&nbsp;</i>
                    </a>
                </li>
                <li class="nav-item nav-link">
                    <a href="https://www.youtube.com/channel/UCMiuo1BSwQxRMl6781evABw/videos" target="_blank">
                        <i class="fa fa-youtube" aria-hidden="true">&nbsp;</i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container pad">
    <div class="row align-items-center">
        <div class="col-4">
            <a href="\reg\topjava">
                <h4>Стажировка Java Enterprise (Topjava)</h4>
                <img class="img-fluid"
                     src="https://user-images.githubusercontent.com/13649199/27433714-8294e6fe-575e-11e7-9c41-7f6e16c5ebe5.jpg"/>
            </a>
        </div>
        <div class="col-4 align-middle">
            <h4>Максимальный охват</h4>
            <p>
                Самые важные и необходимые Java разработчику темы, API, фреймворки, инструменты.
            </p>
            <h4>Структурированное изложение</h4>
            <p>
                Изложение материала нацелено на практическое использование и дополняется материалом
                для самостоятельной проработки.
                Темы идут последовательно, дополняя друг друга, для создания единого приложения.
            </p>
        </div>
        <div class="col-4">
            <a href="\reg\masterjava">
                <h4>Многомодульный maven. Многопоточность. XML. Веб сервисы. Удаленное взаимодействие (Masterjava)</h4>
                <img class="img-fluid"
                     src="https://cloud.githubusercontent.com/assets/13649199/23876457/ab01ff0a-084e-11e7-964f-49c90579fac9.png"/>
            </a>
        </div>
    </div>
    <hr/>
    <div class="row align-items-center">
        <div class="col-4">
            <h4>Помощь с трудоустройством. <a href="\view\story">Наши истории</a></h4>
            <p>
                В группе <i class="fa fa-slack"></i>Slack выпускников происходит активное общение на все темы IT,
                обсуждение
                вступительных заданий,
                вакансии, цены на рынке труда, события, помощь, интересные видео и пр.
                Обновления нашей базы выпускников смотрят ~90 партнеров по трудоустройству (компании и индивидуальные
                рекрутеры).
            </p>
        </div>
        <div class="col-4">
            <a href="\reg\basejava">
                <h4>Разработка Web приложения "База данных резюме" (Basejava)</h4>
                <img class="img-fluid"
                     src="../static/img/javaopsBase.jpg"/>
            </a>
        </div>
        <div class="col-4">
            <h4>Совместная разработка</h4>
            <p>
                Участники на протяжении всего курса работают с кодом проекта. Выполнение домашних заданий
                закрепляет полученные знания. В результате проект становится "Вашим".
            </p>
        </div>
    </div>
    <hr/>
    <div class="row align-items-center">
        <div class="col-4">
            <a href="\view\test">
                <h4>Интервью в skype (голосом) на позицию Java разработчик.</h4>
                <img class="img-fluid"
                     src="../static/img/test_interview.png"/>
            </a>
        </div>
        <div class="col-4">
            <h4>Последовательная возрастание сложности</h4>
            <p>
                Сложность проекта возрастает постепенно, с кода <code>"Hello!"</code> в <code>main()</code> до финальной
                версии в <a href="http://topjava.herokuapp.com/">Heroku</a>.
                Слон съедается по кусочкам.
            </p>
            <h4>Общение, поддержка группы и преподавателя</h4>
            <p>
                По любым вопросам: git, трудоустройство, зарплаты программиста, java консультации, архитектура,
                новости IT и пр.
            </p>
        </div>
        <div class="col-4">
            <h4>Доступность и материалов</h4>
            <p>
                Все видео доступно для просмотра онлайн и скачивания (в случае вебинаров - сразу после занятия).
                Записи разбиты по темам и тщательно отредактированы. Большое количество подобранных ресурсов
                для углубления в детали.
            </p>
        </div>
    </div>
    <hr/>
    <div class="row align-items-center">
        <div class="col-4">
            <h4>Ревью Вашего кода</h4>
            <p>
                Вы увидите именно свои ошибки в стиле, структурах данных, алгоритмах, кодировании.<br/>
                <b>Опыт равноценен нескольким годам работы Java разработчиком.</b>
            </p>
        </div>
        <div class="col-4">
            <h4>Оптимальное подобранное время</h4>
            <p>
                Занятия проходят раз в неделю, время необходимое для проработки пройденных тем и выполнения домашнего
                задания.
            </p>
        </div>
        <div class="col-4">
            <script type="text/javascript" src="//vk.com/js/api/openapi.js?136"></script>

            <!-- VK Widget -->
            <div id="vk_groups" class="mx-auto"></div>
            <script type="text/javascript">
                VK.Widgets.Group("vk_groups", {mode: 3, width: "220"}, 58538268);
            </script>
        </div>
    </div>
    <hr/>
    <div class="jumbotron">
        <h3>После проекта TopJava в Вашем резюме появится раздел <b>в опыте работы</b></h3>
        <p>Участие в разработке Spring/JPA Enterprise приложения c авторизацией и правами доступа на основе ролей на
            стеке: <i>Maven, Spring MVC, Spring Security, REST (Jackson), Java 8 Stream API</i>:
        </p>
        <ul>
            <li>реализация сохранения в базы Postgres и HSQLDB на основе Spring JBDC, JPA(Hibernate) и
                Spring-Data-JPA
            </li>
            <li>реализация и тестирование REST и AJAX контроллеров</li>
            <li>реализация клиента на Bootstrap (css/js), datatables, jQuery + plugins.</li>
            <li>твоя доработка проекта</li>
        </ul>
        <h4><a href="https://vk.com/topic-74381644_30447246">Отзывы по стажировке</a></h4>
    </div>
    <th:block th:include="fragments::footer"/>
</div>
</body>
<th:block th:include="fragments::js-skype"/>
</html>