<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::headTag('Java Online Projects')">
    <!-- ============================================================================ -->
    <!-- This <head> is only used for static prototyping purposes (natural templates) -->
    <!-- and is therefore entirely optional, as this markup fragment will be included  -->
    <!-- from "fragments.html" at runtime.                                            -->
    <!-- ============================================================================ -->
    <meta charset="UTF-8"/>
    <title>Java Online Projects</title>
    <link rel="stylesheet" href="../static/bootstrap-3.3.6/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../static/bootstrap-3.3.6/css/blog.css"/>
    <link rel="stylesheet" href="../css/style.css"/>
    <link rel="shortcut icon" href="../static/img/java_cup.ico"/>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <a data-toggle="collapse" data-target="#why" href="#why" class="navbar-brand">Почему Java Online
            Projects?</a>
        <div class="collapse navbar-collapse">
            <form class="navbar-form navbar-right">
                <a href="skype:grigory.kislin" style="font-size: large; color: white">grigory.kislin</a>
                <a href="mailto:admin@javaops.ru" class="btn-link"><img src="/static/img/email.png"/></a>
                <a href="https://vk.com/javawebinar" class="btn-link" target="_blank"><img src="/static/img/vk.gif"/></a>
            </form>
        </div>
    </div>
</div>
<div class="container pad wide">
    <div id="why" class="panel-collapse collapse">
        <ul class="list-group" style="margin-bottom: 0;">
            <li class="list-group-item">
                <h3 class="list-group-item-info">Максимальный охват</h3>
                <p class="list-group-item-text">Самые важные и необходимые Java разработчику темы, API,
                    фреймворки, инструменты в одном
                    курсе.</p>
            </li>
            <li class="list-group-item">
                <h3 class="list-group-item-info">Насыщенное и структурированное изложение как дополнение к
                    проекту</h3>
                <p class="list-group-item-text">Изложение материала "без воды" нацелено на практическое
                    использование и дополняется материалом для самостоятельной проработки.
                    Темы идут не по отдельности (в воздухе) на отстраненных примерах, а последовательно,
                    в
                    связке, как дополнения к
                    созданию единого работающего приложения.<br/>
                    <b>Усвоение и понимание материала увеличивается в разы.</b></p>
            </li>
            <li class="list-group-item">
                <h3 class="list-group-item-info">Последовательная возрастание сложности с нуля</h3>
                <p class="list-group-item-text">Сложность проекта возрастает постепенно, с кода "Hello Topjava" в
                    main() вступительного задания до финальной версии. Слон съедается по кусочкам..</p>
            </li>
            <li class="list-group-item">
                <h3 class="list-group-item-info">Совместная разработка</h3>
                <p class="list-group-item-text">Участники на протяжении всего курса работают с кодом
                    проекта.
                    Выполнение домашних заданий
                    закрепляет полученные знания.<br/> <b>В результате проект становится "Вашим"</b>.</p>
            </li>
            <li class="list-group-item">
                <h3 class="list-group-item-info">Общение, поддержка группы и преподавателя</h3>
                <p class="list-group-item-text">По любым вопросам: git, трудоустройство, зарплаты
                    программиста,
                    java консультации, архитектура, новости IT и пр.</p>
            </li>
            <li class="list-group-item">
                <h3 class="list-group-item-info">Доступность и структурированность материалов</h3>
                <p class="list-group-item-text">Все видео доступно для просмотра онлайн и скачивания (в
                    случае
                    вебинаров- сразу после занятия). Записи разбиты по темам и
                    тщательно отредактированы. Большое количество подобранных ресурсов для углубления в
                    детали.</p>
            </li>
            <li class="list-group-item">
                <h3 class="list-group-item-info">Оптимальное подобранное время</h3>
                <p class="list-group-item-text">Занятия проходят раз в неделю, время необходимое для
                    проработки
                    пройденных тем и выполнения домашнего задания</p>
            </li>
            <li class="list-group-item">
                <h3 class="list-group-item-info">Ревью Вашего кода.</h3>
                <p class="list-group-item-text">Вы увидите именно свои ошибки в стиле, структурах
                    данных,
                    алгоритмах, кодировании. <br/><b>Опыт равноценен нескольким годам работы
                        разработчиком
                        java.</b></p>
            </li>
            <li class="list-group-item">
                <h3 class="list-group-item-info">Помощь в составлении резюме и с трудоустройством.</h3>
                <p class="list-group-item-text">Читайте <a href="story.html">наши истории (делимся опытом и
                    успехом)</a>. В группе slack выпускников происходит активное общение на все темы IT, обсуждение
                    вступительных заданий, вакансии, цены на рынке труда, события, помощь, интересные видео и пр.
                    ~ 60 партнеров по трудоустройству (компании и индивидуальные рекрутеры) .
                </p>
            </li>
            <li class="list-group-item">
                <h3 class="list-group-item-info">После проекта topjava в твоем резюме появится раздел в опыте
                    работы:</h3>
                <h3>Участие в разработке Spring/JPA Enterprise приложения c авторизацией и правами доступа на основе
                    ролей на стеке: Maven/ Spring MVC/ Security/ REST(Jackson)/ Java 8 Stream API</h3>
                <ul>
                    <li>реализация сохранения в базы Postgres и HSQLDB на основе Spring JBDC, JPA(Hibernate) и
                        Spring-Data-JPA
                    </li>
                    <li>реализация и тестирование REST и AJAX контроллеров</li>
                    <li>реализация клиента на Bootstrap (css/js), datatables, jQuery + plugins.</li>
                    <li>твоя доработка проекта</li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="blog-post">
        <h2><a href="/story.html">Наши истории (делимся опытом и успехом)</a></h2>
        <hr/>
        <h2><a href="https://github.com/JavaOPs/topjava">Стажировка Java Enterprise:</a></h2>
        <h3><b>Старт следующей стажировки: 06.07 (<a href="https://github.com/JavaOPs/topjava/blob/master/ReleaseNotes.md">история изменений</a>).</b></h3>
        <p>Maven, Spring, Security, JPA(Hibernate), REST(Jackson), Bootstrap, jQuery + plugins.
            Разработка <strong>полнофункционального Spring / JPA приложения c авторизацией и правами доступа на
                основе
                ролей</strong><br/>
        <h4><a href="http://topjava.herokuapp.com/">Приложения проекта, задеплоенное в Heroku (будет у каждого участника)</a></h4>
        </p>
        <hr/>
        <h2><a href="https://github.com/JavaOPs/masterjava">Многомодульный maven. Многопоточность. XML. Веб сервисы. Удаленное взаимодействие.</a></h2>
        <h3><b>Стажировка идет. Следующий набор ориентировочно в конце лета/осенью.</b></h3>
        <h4><a href="https://github.com/JavaOPs/masterjava/blob/master/README.md#Программа-проекта-1">Программа проекта</a></h4>
        <hr/>
        <h2><a href="https://github.com/JavaOPs/JavaSE-Web">Курс JavaSE + Web</a></h2>
        <p>Разработка WEB-приложения, основываясь на базовых темах курса: объектная модель, коллекции, система
            ввода-вывода, работа с файлами, сериализация, работа с XML, JSON, SQL, персистентность в базу данных
            (PostgreSQL), сервлеты, JSP/JSTL, веб-контейнер Tomcat, HTML, модульные тесты JUnit, java.util.Logging,
            система контроля версий Git.
            Деплой полученного приложения в облачный сервис Heroku. Личный кабинет + куратор</p>
        <hr/>
        <h2><a href="/interview/test.html">Тестовое интервью на Java разработчика</a></h2>
        <h3></h3>
        <p>Принципы ООП, Java Core, Коллекции, Java 8, Html/Tomcat/Сервлеты, Spring/IoC, DI, IoC-контейнер, ORM/Hibernate/JPA,
            Многопоточность/JMM, Алгоритмы/Сложность, Паттерны проектирования, JDBC/Транзакции/ACID, Maven</p>
</div>
    <table>
        <tr>
            <td><img src="../static/img/javaops.png" class="img-responsive center-block"/></td>
            <td style="padding: 0 50px"><script type="text/javascript" src="//vk.com/js/api/openapi.js?136"></script>

                <!-- VK Widget -->
                <div id="vk_groups"></div>
                <script type="text/javascript">
                    VK.Widgets.Group("vk_groups", {mode: 3, width: "220"}, 58538268);
                </script>
            </td>
        </tr>
    </table>
</div>
</body>
<th:block th:include="fragments::skype"/>
<th:block th:include="fragments::footer"/>
<th:block th:include="fragments::yandex"/>
</html>