<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::headTag('Стажировка Java Enterprise')">
    <link rel="stylesheet" href="../static/bootstrap-3.3.6/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../static/bootstrap-3.3.6/css/blog.css"/>
    <link rel="stylesheet" href="../css/style.css"/>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top" th:replace="fragments::header"></div>
<div class="container pad">
    <h2>Многомодульный maven. Многопоточность. XML. Веб сервисы. Удаленное взаимодействие.</h2>
    <p class="lead">
        <b>Разработка полнофункционального многомодульного Maven проекта</b>, <br/>состоящего из 3-х веб приложений:
    </p>
</div>
<div class="jumbotron">
    <div class="container">
        <img src="https://cloud.githubusercontent.com/assets/13649199/23876457/ab01ff0a-084e-11e7-964f-49c90579fac9.png"
             alt="Структура проекта"/>
        <hr/>
        <ul style="font-size: 21px">
            <li><b>приложение импорта</b> из XML (JAXB, StAX, XPath, XSLT)</li>
            <li><b>многопоточного почтового веб-сервиса</b><br/>
                (JavaMail, java.util.concurrent, JAX-WS, MTOM, хендлеры авторизации, логирования и статистики)
            </li>
            <li><b>веб приложения отправки почты с вложениями</b>
                <ul>
                    <li>по SOAP (JAX-WS, MTOM)</li>
                    <li>по JAX-RS (Jersey)</li>
                    <li>по JMS (<a href="http://activemq.apache.org/">ActiveMQ</a>)</li>
                    <li>через <a href="http://akka.io/">AKKA (Typed и Untyped Actors)</a></li>
                </ul>
            </li>
            <li>сохранение данных в PostgreSQL используя <a href="http://jdbi.org/">jDBI</a></li>
            <li>servlet 3.0: аннотации, multipart config, асинхронность</li>
            <li>миграция базы <a href="http://www.liquibase.org/">LiquiBase</a></li>
            <li>использование в проекте <a href="https://github.com/google/guava/wiki">Guava</a>,
                <a href="http://www.thymeleaf.org/">Thymleaf</a>,
                <a href="https://projectlombok.org/">Lombook</a>,
                <a href="https://github.com/amaembo/streamex">StreamEx</a>,
                <a href="https://github.com/typesafehub/config">Typesafe Config</a>,
                <a href="http://openjdk.java.net/projects/code-tools/jmh">Java Microbenchmark JMH</a>
            </li>
        </ul>
    </div>
</div>
<div class="container">
    <div style="font-size: large">
        <h3><b>Участие в проекте в индивидуальном порядке (в любое время) по готовым материалам и патчам с
            поддержкой в группе Slak.</b></h3>
        <h4>Для всех участников осенью планируется стажировка (занятия раз в неделю) с обновлением проекта.</h4>
        <p>
            Каждая итерация проекта закрепляется домашним заданием по реализации схожей функциональности (+дополнительное Optional).
            Каждое занятие начинается с разбора домашних заданий.
        </p>
        <i><strong>Требование к участникам:</strong> опыт программирования на Java (оптимально стажиовка Topjava). Базовые знания Maven.</i>
        <th:block th:include="fragments::modal('masterjava', 'Получить ссылку на бесплатное первое занятие: Многопоточность')"/>
        <ul>
            <li><p>Стоимость участия без проверки домашних заданий: 8600 руб./ 155$ (после курса TopJava: <b>7900 руб./ 143$</b>)<br/>
                <i>сюда входят все материалы, участие в группе slack (общение разбито по каналам), ответы на вопросы и
                    помощь с проектом.</i>
            </p></li>
            <li><p>Стоимость полного пакета: 16300 руб./296$ (после TopJava: <b>14900 руб./270$ </b>)<br/>
                <i>добавляется проверка домашних заданий</i></p></li>
            <li><p>Для всех: бесплатное участие в следующий выпусках проекта.</p></li>
            <li><p>Специальная цена на одновременную оплату 2-х проектов (<b>TopJava + MasterJava</b>): -15% от стоимости.</p>
            </li>
            <li><a href="http://javaops.ru/payment.html">Способы оплаты</a></li>
            <li><a href="http://www.finmarket.ru/currency/USD/">Курс рубля</a></li>
            <li><p>Добавляйтесь в <b><a href="skype:grigory.kislin">skype: grigory.kislin</a></b></p></li>
        </ul>
        <hr/>
        <h3><a href="https://github.com/JavaOPs/masterjava#Программа-проекта-1">Программа проекта</a></h3>
        <h4><a href="https://github.com/JavaOPs/masterjava/blob/master/ReleaseNotes.md">История изменений проекта</a></h4>
    </div>
    <th:block th:include="fragments::footer"/>
</div>
</body>
<th:block th:include="fragments::skype"/>
</html>
