<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="project" type="ru.javaops.model.Project"*/-->
<!--/*@thymesVar id="user" type="ru.javaops.model.User"*/-->
<head th:include="fragments::headTag('Java Online Projects')">
    <meta charset="UTF-8"/>
    <title>Java Online Projects</title>
    <link rel="stylesheet" href="../static/bootstrap-3.3.6/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../css/style.css"/>
    <link rel="shortcut icon" href="../static/img/java_cup.ico"/>
</head>
<body>
<th:block th:include="fragments::header(${authorized})"/>
<div class="jumbotron">
    <div class="container box">
        <h2 th:utext="${message}">Сообщение</h2>
    </div>
</div>
</body>
</html>
