<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::headTag('')">
    <link rel="stylesheet" href="../static/css/bootstrap.css"/>
    <link rel="stylesheet" href="../static/css/mdb.css"/>
    <link rel="stylesheet" href="../static/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../css/style.css"/>
</head>
<body>
<nav th:replace="fragments::header" class="navbar fixed-top navbar-toggleable-md navbar-dark nav-bgr">
    <div class="container">
        <a href="/" class="navbar-brand"><strong>Java Online Projects</strong></a>
    </div>
</nav>
<div class="container box">
    <div class="jumbotron">
        <!--/*@thymesVar id="email" type="java.lang.String"*/-->
        <h4 th:text="|Здравствуйте! Ваша почта ${email} не зарегистрирована для запросов.|">Здравствуйте! Ваш почта
            email не зарегистрирована для запросов</h4>
        <h3>Для бесплатного доступа к данным соискателей,<br/>
            напишите мне на почту <a href="mailto:admin@javaops.ru">admin@javaops.ru</a> или в скайп:
            <a href="skype:grigory.kislin">grigory.kislin</a>
        </h3>
    </div>
</div>
</body>
<th:block th:include="fragments::js-skype">
    <a data-config="commands=add;size=14;status=on;theme=logo;bgcolor=#2a92f3" id="skaip-buttons"
       href="http://www.skaip.su/">Skype</a>
    <script src="http://apps.skaip.su/buttons/widget/core.min.js" defer="defer"></script>
</th:block>
</html>