<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="project" type="ru.javaops.model.Project"*/-->
<!--/*@thymesVar id="user" type="ru.javaops.model.User"*/-->
<head th:include="fragments::headTag('Java Online Projects')">
    <meta charset="UTF-8"/>
    <title>Java Online Projects</title>
    <link rel="stylesheet" href="../static/bootstrap-3.3.6/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../css/style.css"/>
    <link rel="shortcut icon" href="../static/img/java_cup.ico"/>
</head>
<body>
<th:block th:include="fragments::header(${authorized})"/>
<div class="jumbotron">
    <div class="container box">
        <!--/*@thymesVar id="email" type="java.lang.String"*/-->
        <h4 th:text="|Здравствуйте! Ваша почта ${email} не зарегистрирована для запросов.|">Здравствуйте! Ваш почта email не зарегистрирована для запросов</h4>
        <h3>Для бесплатного доступа к данным соискателей,<br/>
            напишите мне на почту <code><b>admin@javaops.ru</b></code> или в скайп: <code><b>grigory.kislin</b></code></h3>
    </div>
</div>
</body>
</html>