<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="project" type="ru.javaops.model.Project"*/-->
<!--/*@thymesVar id="user" type="ru.javaops.model.User"*/-->
<head th:replace="fragments::headTag('Регистрация')">
    <meta charset="UTF-8"/>
    <title>Регистрация</title>
    <link rel="stylesheet" href="../static/bootstrap-3.3.6/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../css/style.css"/>
    <link rel="shortcut icon" href="../static/img/java_cup.ico"/>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top" th:replace="fragments::header">
    <div class="container">
        <a href="/" class="navbar-brand">Java Online Projects</a>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
            </ul>
        </div>
    </div>
</div>
<div class="jumbotron">
    <div class="container">
        <br/>
        <h2 th:text="|Регистрация на ${project.description}|">Регистрация на проект Java Enterprise</h2>
        <br/>
        <form class="form-horizontal" method="post" action="save">
            <div class="form-group ">
                <label class="control-label col-xs-3">Имя Фамилия</label>
                <div class="col-xs-4">
                    <input class="form-control" name="nameSurname" th:value="${user.fullName}"/>
                </div>
            </div>

            <div class="form-group ">
                <label class="control-label col-xs-3">Email</label>
                <div class="col-xs-4">
                    <input class="form-control" name="email" th:value="${user.email}" readonly="readonly"/>
                </div>
            </div>

            <div class="form-group ">
                <label class="control-label col-xs-3">Google mail (для авторизации GoogleDrive)</label>
                <div class="col-xs-4">
                    <input class="form-control" name="gmail" th:value="${user.gmail}"/>
                </div>
            </div>

            <div class="form-group ">
                <label class="control-label col-xs-3">Skype</label>
                <div class="col-xs-4">
                    <input class="form-control" name="skype" th:value="${user.skype}"/>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-xs-3">Город</label>
                <div class="col-xs-4">
                    <input class="form-control" name="location" list="location" th:value="${user.location}"/>
                </div>
                <datalist id="location">
                    <option value="">Выберите (или введите) город</option>
                    <option value="Москва">Москва</option>
                    <option value="Санкт-Петербург">Санкт-Петербург</option>
                    <option value="Киев">Киев</option>
                    <option value="Минск">Минск</option>
                    <option value="Харьков">Харьков</option>
                    <option value="Новосибирск">Новосибирск</option>
                    <option value="Днепропетровск">Днепропетровск</option>
                    <option value="Одесса">Одесса</option>
                    <option value="Уфа">Уфа</option>
                    <option value="Владивосток">Владивосток</option>
                    <option value="Краснодар">Краснодар</option>
                    <option value="Львов">Львов</option>
                    <option value="Запорожье">Запорожье</option>
                    <option value="Самара">Самара</option>
                    <option value="Нижний Новгород">Нижний Новгород</option>
                    <option value="Николаев">Николаев</option>
                    <option value="Гродно">Гродно</option>
                    <option value="Казань">Казань</option>
                    <option value="Караганда">Караганда</option>
                    <option value="Гомель">Гомель</option>
                    <option value="Пермь">Пермь</option>
                    <option value="Рига">Рига</option>
                    <option value="Алматы">Алматы</option>
                    <option value="Днепр">Днепр</option>
                </datalist>
            </div>

            <div class="form-group ">
                <div class="checkbox col-xs-offset-3 col-xs-10">
                    <label class="control-label"><input th:checked="${user.statsAgree}" type="checkbox" name="statsAgree"/>Согласен на размещением своих данных в закрытой статистике группы
                    </label>
                </div>
            </div>

            <div class="form-group ">
                <label class="control-label col-xs-3">Обо мне. Опыт с Java</label>
                <div class="col-xs-4">
                    <textarea class="form-control " name="aboutMe" rows="5" th:utext="${user.aboutMe}"></textarea>
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-offset-3 col-xs-10">
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </div>
            </div>

            <input type="hidden" name="id" th:value="${user.id}"/>
            <input type="hidden" name="project" th:value="${project.name}"/>
            <!--/*@thymesVar id="key" type="java.lang.String"*/-->
            <input type="hidden" name="key" th:value="${key}"/>
        </form>
    </div>
</div>
</body>
</html>