<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="authUser" type="ru.javaops.model.User"*/-->
<!--/*@thymesVar id="projectName" type="java.lang.String"*/-->
<head th:replace="fragments::headTag(${projectName}==null ? 'Редактирование профиля':'Регистрация на проект '+ ${projectName})">
    <link rel="stylesheet" href="../static/css/bootstrap.css"/>
    <link rel="stylesheet" href="../static/css/mdb.css"/>
    <link rel="stylesheet" href="../static/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../css/style.css"/>
</head>
<body>
<link rel="stylesheet" href="/static/datetimepicker/jquery.datetimepicker.min.css"/>
<nav th:replace="fragments::header" class="navbar fixed-top navbar-toggleable-md navbar-dark nav-bgr">
    <div class="container">
        <a href="/" class="navbar-brand"><strong>Java Online Projects</strong></a>
    </div>
</nav>
<div class="container pad">
    <div class="jumbotron">
        <div class="row">
            <div class="col-5">
                <h2><i class="fa fa-user" aria-hidden="true">&nbsp;</i><span
                        th:text="${authUser.fullName}">Full Name</span>
                </h2>
                <h4><i class="fa fa-envelope" aria-hidden="true">&nbsp;</i><span th:text="${authUser.email}">admin@javaops.ru</span>
                </h4>
                <h4><i class="fa fa-google" aria-hidden="true">&nbsp;</i><span
                        th:text="${authUser.gmail}">admin@gmail.com</span></h4>
                <h4><i class="fa fa-skype" aria-hidden="true">&nbsp;</i><span
                        th:text="${authUser.skype}">grigory.kislin</span></h4>
                <h4><i class="fa fa-map-marker" aria-hidden="true">&nbsp;</i><span th:text="${authUser.location}">Санкт-Петербург</span>
                </h4>
                <h4><i class="fa fa-wrench" aria-hidden="true">&nbsp;</i><span
                        th:text="${authUser.company}">JavaOPs</span>
                </h4>
                <h4 th:if="${authUser.resumeUrl}!=null">
                    <i class="fa fa-address-card-o" aria-hidden="true">&nbsp;</i><a th:href="${authUser.resumeUrl}"
                                                                                    href="#">Resume</a>
                </h4>
                <h4 th:if="${authUser.github}!=null">
                    <a th:href="${authUser.github}" href="#">Github account</a>
                </h4>
                <h4><i class="fa fa-percent" aria-hidden="true"></i> Бонусы: <span
                        th:text="${authUser.bonus}">15</span>
                </h4>
                <br/>
                <b>
                    <a th:if="${projectName==null}" href="/auth/profileER" class="btn btn-info">Редактировать</a>
                    <a th:if="${projectName!=null}"
                       th:href="@{/auth/profileER(project=${projectName})}"
                       th:text="|Регистрация на проект ${projectName}|" class="btn btn-info">Регистрация на проект
                        project</a>
                </b>
            </div>
            <div class="col-7 card">
                <div class="card-block">
                    <pre  th:text="${authUser.aboutMe}">
Веду проекты Java Online Projects.
12345
                    </pre>
                </div>
            </div>
        </div>
        <hr/>
        <th:block th:if="${authUser.member}">
            <h4><a th:href="@{/auth/users}" href="#">Список участников, отсортированный по городам</a></h4>
            (доступен при <code>согласии на размещением своих данных в закрытой статистике группы</code>)
        </th:block>
    </div>
    <div th:unless="${authUser.partner}">
        <h5>
            06.07 старт <a href="http://javaops.ru/reg/topjava?ch=profile">Java Enterprise (Topjava)</a>. <a
                href="http://javaops.ru/reg/topjava?ch=profile#schedule">Расписание</a>
        </h5>
        <h5>
            <a href="http://javaops.ru/reg/masterjava?ch=profile">Разработка полнофункционального многомодульного Maven
                проекта (Masterjava)</a>. <a
                href="https://github.com/JavaOPs/masterjava#Программа-проекта-1">Программа</a><br/>
            <a href="http://javaops.ru/reg/basejava?ch=profile">Разработка Web приложения "<i>База данных
                резюме</i>"</a>. <a
                href="http://javaops.ru/reg/basejava?ch=profile#program">Программа</a><br/>
            Старт в любое время по готовым материалам и патчам с поддержкой в группе Slack.
        </h5>
    </div>
    <div th:if="${authUser.partner}">
        <!--https://v4-alpha.getbootstrap.com/components/forms/#form-layouts-->
        <form class="form-inline">
            <h4>База кандидатов на позицию Java разработчик от даты:&nbsp;&nbsp;
                <input class="form-control" name="fromDate" id="fromDate" value="2017-04-01" size="6"/>
                <a class="btn btn-info"
                   th:href="@{/sql(sql_key=_job_wanted_, csv=true, partnerKey=${authUser.email}, fromDate='2017-04-01')}"
                   href="" id="jobWanted">Смотреть</a>
            </h4>
        </form>
    </div>
</div>
</body>
<th:block th:include="fragments::js-skype"/>
<script type="text/javascript" src="../static/datetimepicker/jquery.datetimepicker.full.min.js"></script>
<script type="application/javascript">
    $(function () {
        $('#fromDate').datetimepicker({
            timepicker: false,
            format: 'Y-m-d',
            formatDate: 'Y-m-d',
            onChangeDateTime: function (dp, input) {
                $("#jobWanted").attr('href', function (i, a) {
                    return a.replace(/(fromDate=).+/ig, '$1' + input.val());
                });
            }
        });
        $.datetimepicker.setLocale('ru');
    });
</script>
</html>