<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="authUser" type="ru.javaops.model.User"*/-->
<!--/*@thymesVar id="project" type="java.lang.String"*/-->
<head th:replace="fragments::headTag(${project}==null ? 'Профиль':'Регистрация на проект '+ ${project})">
    <link rel="stylesheet" href="../static/css/bootstrap.css"/>
    <link rel="stylesheet" href="../static/css/mdb.css"/>
    <link rel="stylesheet" href="../static/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../css/style.css"/>
</head>
<body>
<link rel="stylesheet" href="/static/datetimepicker/jquery.datetimepicker.min.css"/>
<nav th:replace="fragments::header" class="navbar fixed-top navbar-toggleable-md navbar-dark nav-bgr">
    <div class="container">
        <a href="/" class="navbar-brand"><strong>Java Online Projects</strong></a>
    </div>
</nav>
<div class="container pad">
    <div class="jumbotron">
        <div class="row">
            <div class="col-5">
                <h2><i class="fa fa-user" aria-hidden="true">&nbsp;</i><span
                        th:text="${authUser.fullName}">Full Name</span>
                </h2>
                <h4><i class="fa fa-envelope" aria-hidden="true">&nbsp;</i><span th:text="${authUser.email}">admin@javaops.ru</span>
                </h4>
                <h4><i class="fa fa-google" aria-hidden="true">&nbsp;</i><span
                        th:text="${authUser.gmail}">admin@gmail.com</span></h4>
                <h4><i class="fa fa-skype" aria-hidden="true">&nbsp;</i><span
                        th:text="${authUser.skype}">grigory.kislin</span></h4>
                <h4><i class="fa fa-map-marker" aria-hidden="true">&nbsp;</i><span th:text="${authUser.location}">Санкт-Петербург</span>
                </h4>
                <h4><i class="fa fa-wrench" aria-hidden="true">&nbsp;</i><span
                        th:text="${authUser.company}">JavaOPs</span>
                </h4>
                <h4 th:if="${authUser.resumeUrl}!=null">
                    <i class="fa fa-address-card-o" aria-hidden="true">&nbsp;</i><a th:href="${authUser.resumeUrl}"
                                                                                    href="#">Resume</a>
                </h4>
                <h4 th:if="${authUser.github}!=null">
                    <a th:href="${authUser.github}" href="#">GitHub account</a>
                </h4>
                <br/>
                <b>
                    <a th:if="${project==null}" href="/auth/profileER" class="btn btn-info">Редактировать</a>
                    <a th:if="${project!=null}"
                       th:href="@{/auth/profileER(project=${project})}"
                       th:text="|Регистрация на проект ${project}|" class="btn btn-info">Регистрация на проект
                        project</a>
                </b>
            </div>
            <div class="col-7 card">
                <div class="card-block" th:utext="${aboutMe}">
                    aboutMe
                </div>
            </div>
        </div>
    </div>
    <h4><i class="fa fa-percent" aria-hidden="true"></i> <a data-toggle="tooltip"
                                                            data-original-title="Скидка % на любой из текущих проектов">Бонусы</a>:
        <span th:text="${authUser.bonus}">15</span>
    </h4>
    <button class="btn btn-info" data-toggle="tooltip"
            data-original-title="При оплате проекта приглашенным участником вам добавляется 25 бонусов за Topjava/Masterjava и 10 за Basejava"
            th:onclick="'copyToClipboard(\'' + ${refUrl} + '\')'">Скопировать в буфер реферальную ссылку
    </button>
    <div th:if="${authUser.member}">
        <hr/>
        <h5 th:if="${ideaCoupon}!=''"
            th:utext="|Персональный единоразовый купон на IntelliJ IDEA: &lt;b&gt;${ideaCoupon}&lt;/b&gt;|">Твой
            единоразовый купон на IntelliJ IDEA: ideaCoupon</h5>
        <a th:if="${ideaCoupon}==''" class="btn btn-info"
           th:href="@{/idea(email=${authUser.email}, project='javaops')}" data-toggle="tooltip" href="#"
           data-original-title="Купом лучше активировать после месячного trial периода, он бессрочный">Получить
            единоразовый 6-месячный купон на Ultimate IntelliJ IDEA
        </a>
    </div>
    <div th:unless="${authUser.partner}">
        <hr/>
        <div th:with="projectsName = ${ {'basejava', 'topjava', 'masterjava'} }">
            <div th:each="project : ${projectsName}">
                <div th:with="types = ${projects['__${project}__']}">
                    <form th:action="@{/register}" method="post" th:if="${types}==null" style="margin-bottom: 5px">
                        <input name="nameSurname" th:value="${authUser.fullName}" hidden="hidden"/>
                        <input name="email" th:value="${authUser.email}" hidden="hidden"/>
                        <input name="template" th:value="|${project}_entrance|" hidden="hidden"/>
                        <input name="project" th:value="${project}" hidden="hidden"/>
                        <input name="channel" value="profile" hidden="hidden"/>
                        <button class="btn btn-default" type="submit"
                                th:text="|Получить первое бесплатное занятие проекта ${project}|"></button>
                    </form>

                    <a class="btn btn-default" th:if="${types!=null and #strings.contains(types,'REGISTERED')}"
                       th:text="|Принять участие в проекте ${project}|" th:href="@{'/reg/'+${project}+'#price'}">
                        Принять участие в проекте project
                    </a>
                    <th:block
                            th:if="${project=='topjava' and types!=null and #strings.contains(types,'FINISHED')}">
                        <form th:if="${!#strings.contains(types,'CURRENT')}" th:action="@{/repeat}" method="post"
                              style="margin-bottom: 5px">
                            <input name="email" th:value="${authUser.email}" hidden="hidden"/>
                            <input name="project" value="topjava" hidden="hidden"/>
                            <button class="btn btn-default" type="submit">Принять повторное участие в стажировке
                                Topjava
                            </button>
                        </form>
<!--
                        <a class="btn btn-default"
                           th:href="@{/participate(email=${authUser.email}, key=${activationKey}, project='javaops')}">
                            Присоедениться к группе Slack выпускников (если еще не с нами)
                        </a>
-->
                    </th:block>
                </div>
            </div>
        </div>
    </div>
    <div th:if="${authUser.partner}">
        <hr/>
        <!--https://v4-alpha.getbootstrap.com/components/forms/#form-layouts-->
        <form class="form-inline">
            <h4>База кандидатов на позицию Java разработчик от даты:&nbsp;&nbsp;
                <input class="form-control" name="fromDate" id="fromDate" value="2017-04-01" size="6"/>
                <a class="btn btn-info"
                   th:href="@{/sql(sql_key=_job_wanted_, csv=true, partnerKey=${authUser.email}, fromDate='2017-04-01')}"
                   href="" id="jobWanted">Смотреть</a>
            </h4>
        </form>
    </div>
    <th:block th:if="${authUser.member}">
        <hr/>
        <h4><a th:href="@{/auth/users}" href="#">Список участников, отсортированный по городам</a></h4>
        (доступен при <code>согласии на размещением своих данных в закрытой статистике группы</code>)
    </th:block>
    <hr/>
</div>
</body>
<th:block th:include="fragments::js-skype">
    <script type="text/javascript" src="../static/js/jquery-3.1.1.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="../static/js/tether.min.js"></script>
    <!-- https://mdbootstrap.com/getting-started/ -->
    <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="../static/js/mdb.min.js"></script>

    <a data-config="commands=add;size=14;status=on" id="skaip-buttons" href="http://www.skaip.su/">Skype</a>
    <script src="http://apps.skaip.su/buttons/widget/core.min.js" defer="defer"></script>
</th:block>
<th:block th:include="fragments::tooltip">
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
</th:block>
<script type="text/javascript" src="../static/datetimepicker/jquery.datetimepicker.full.min.js"></script>
<script type="application/javascript">
    $(function () {
        $('#fromDate').datetimepicker({
            timepicker: false,
            format: 'Y-m-d',
            formatDate: 'Y-m-d',
            onChangeDateTime: function (dp, input) {
                $("#jobWanted").attr('href', function (i, a) {
                    return a.replace(/(fromDate=).+/ig, '$1' + input.val());
                });
            }
        });
        $.datetimepicker.setLocale('ru');
    });
    function copyToClipboard(value) {
        debugger;
        var $temp = $("<input/>");
        $("body").append($temp);
        $temp.val(value).select();
        document.execCommand("copy");
        $temp.remove();
    }
</script>
</html>