<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::headTag(${projectName}==null ? 'Редактирование профиля':'Регистрация на проект '+ ${projectName})">
    <link rel="stylesheet" href="../static/css/bootstrap.css"/>
    <link rel="stylesheet" href="../static/css/mdb.css"/>
    <link rel="stylesheet" href="../static/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../css/style.css"/>
</head>
<body>
<link rel="stylesheet" href="/static/datetimepicker/jquery.datetimepicker.min.css"/>
<nav th:replace="fragments::header" class="navbar fixed-top navbar-toggleable-md navbar-dark nav-bgr">
    <div class="container">
        <a href="/" class="navbar-brand"><strong>Java Online Projects</strong></a>
    </div>
</nav>
<div class="container pad">
    <!--/*@thymesVar id="authUser" type="ru.javaops.model.User"*/-->
    <div th:unless="${authUser.partner}">
        <h5>
            06.07 старт <a href="http://javaops.ru/reg/topjava?ch=profile">Java Enterprise (Topjava)</a>. <a
                href="http://javaops.ru/reg/topjava?ch=profile#schedule">Расписание</a>
        </h5>
        <h5>
            <a href="http://javaops.ru/reg/masterjava?ch=profile">Разработка полнофункционального многомодульного Maven
                проекта (Masterjava)</a>. <a
                href="https://github.com/JavaOPs/masterjava#Программа-проекта-1">Программа</a><br/>
            <a href="http://javaops.ru/reg/basejava?ch=profile">Разработка Web приложения "<i>База данных
                резюме</i>"</a>. <a
                href="http://javaops.ru/reg/basejava?ch=profile#program">Программа</a><br/>
            Старт в любое время по готовым материалам и патчам с поддержкой в группе Slack.
        </h5>
    </div>
    <div th:if="${authUser.partner}">
        <!--https://v4-alpha.getbootstrap.com/components/forms/#form-layouts-->
        <form class="form-inline">
            <h4>
                <a th:href="@{/sql(sql_key=_job_wanted_, csv=true, partnerKey=${authUser.email}, fromDate='2017-04-01')}"
                   href="" id="jobWanted">База кандидатов на позицию Java разработчик </a> от даты:&nbsp;&nbsp;</h4>
            <input class="form-control" name="fromDate" id="fromDate" value=""/>
        </form>
    </div>
    <br/>
    <div class="jumbotron" style="padding-top:0">
        <br/>
        <h2 th:text="${projectName}==null ? 'Редактирование профиля':'Регистрация на проект '+ ${projectName}">
            Редактирование профиля</h2>
        <br/>
        <form method="post" action="/auth/save">
            <div class="form-group">
                <label class="col-3">Имя Фамилия</label>
                <div class="col-4">
                    <input class="form-control" name="nameSurname" placeholder="Имя Фамилия"
                           th:value="${authUser.fullName}"/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-3">Email</label>
                <div class="col-4">
                    <input class="form-control" name="email" th:value="${authUser.email}" readonly="readonly"/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-12">Gmail (для Google авторизации)</label>
                <div class="col-4">
                    <input class="form-control" name="gmail" th:value="${authUser.gmail}"/>
                </div>
            </div>

            <div class="form-group ">
                <label class="col-3">Skype</label>
                <div class="col-4">
                    <input class="form-control" name="skype" th:value="${authUser.skype}"/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-12">Город (проверьте кириллицей в списке)</label>
                <div class="col-4">
                    <input class="form-control" name="location" list="location" th:value="${authUser.location}"/>
                </div>
                <datalist id="location">
                    <option value="">Выберите (или введите) город</option>
                    <option value="Москва">Москва</option>
                    <option value="Санкт-Петербург">Санкт-Петербург</option>
                    <option value="Киев">Киев</option>
                    <option value="Минск">Минск</option>
                    <option value="Харьков">Харьков</option>
                    <option value="Новосибирск">Новосибирск</option>
                    <option value="Днепропетровск">Днепропетровск</option>
                    <option value="Одесса">Одесса</option>
                    <option value="Уфа">Уфа</option>
                    <option value="Владивосток">Владивосток</option>
                    <option value="Краснодар">Краснодар</option>
                    <option value="Львов">Львов</option>
                    <option value="Запорожье">Запорожье</option>
                    <option value="Самара">Самара</option>
                    <option value="Нижний Новгород">Нижний Новгород</option>
                    <option value="Николаев">Николаев</option>
                    <option value="Гродно">Гродно</option>
                    <option value="Казань">Казань</option>
                    <option value="Караганда">Караганда</option>
                    <option value="Гомель">Гомель</option>
                    <option value="Пермь">Пермь</option>
                    <option value="Рига">Рига</option>
                    <option value="Алматы">Алматы</option>
                    <option value="Днепр">Днепр</option>
                    <option value="Саратов">Саратов</option>
                    <option value="Астана">Астана</option>
                    <option value="Los Angeles">Los Angeles</option>
                    <option value="Екатеринбург">Екатеринбург</option>
                    <option value="Ростов-на-дону">Ростов-на-дону</option>
                    <option value="Херсон">Херсон</option>
                    <option value="Воронеж">Воронеж</option>
                    <option value="Ижевск">Ижевск</option>
                </datalist>
            </div>

            <div class="form-group ">
                <label class="col-12">Место работы</label>
                <div class="col-4">
                    <input class="form-control" name="company" th:value="${authUser.company}"/>
                </div>
                <th:block th:if="${authUser.member}">
                    <div class="checkbox col-12">
                        <label><input th:checked="${authUser.underRecruitment}" type="checkbox"
                                      name="underRecruitment"/>
                            На работе готовы трудоустроить наших лучших выпускников
                        </label>
                    </div>
                    <div class="checkbox col-12">
                        <label><input th:checked="${authUser.jobThroughTopjava}" type="checkbox"
                                      name="jobThroughTopjava"/>
                            Получил работу благодаря стажировке Java Online Projects
                        </label>
                    </div>
                </th:block>
            </div>

            <th:block th:unless="${authUser.partner}">
                <div class="form-group">
                    <label class="col-12">Ссылка на резюме</label>
                    <div class="col-6">
                        <input class="form-control" name="resumeUrl" type="url" th:value="${authUser.resumeUrl}"/>
                    </div>

                    <div class="checkbox col-10">
                        <label><input th:checked="${authUser.considerJobOffers}" type="checkbox"
                                      id="considerJobOffers" name="considerJobOffers"
                                      onclick="handleRelocation()"/>
                            Рассматриваю предложения о работе
                        </label>
                    </div>

                    <div class="checkbox col-10" id="relocationCheck">
                        <label>
                            <input th:checked="${authUser.relocationReady}" type="checkbox"
                                   id="relocationReady" name="relocationReady" onclick="handleRelocation()"/>
                            Рассматриваю релокацию
                        </label>
                    </div>
                </div>
                <div class="form-group" id="relocation">
                    <label class="col-12">Выбрать несколько через Ctrl:</label>
                    <div class="col-4">
                        <select multiple="multiple" class="form-control" name="relocation" size="9"
                                th:with="places = ${ {'Россия', 'Москва', 'Санкт-Петербург','Украина','Киев','Беларусь','Минск','Казахстнан','Европа','Польша','Другое'} }">
                            <option th:each="place : ${places}" th:value="${place}" th:text="${place}"
                                    th:selected="${authUser.relocation!=null and authUser.relocation.contains(place)}"/>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-12">Информация для HR (по ней будут решать, стоит ли смотреть в резюме). Не пиши
                        сюда Junior!</label>
                    <div class="col-10">
                        <textarea class="form-control " name="aboutMe" rows="5"
                                  th:utext="${authUser.aboutMe}"></textarea>
                    </div>
                    <div th:if="${authUser.member}" class="checkbox col-10">
                        <label><input th:checked="${authUser.statsAgree}" type="checkbox" name="statsAgree"/>
                            Согласен на размещением своих данных в закрытой статистике группы
                        </label>
                    </div>
                </div>
            </th:block>
            <div th:if="${authUser.partner}" class="form-group">
                <div class="checkbox col-12">
                    <label class="larg"><input th:checked="${authUser.partnerResumeNotify}"
                                               type="checkbox"
                                               name="partnerResumeNotify"/>
                        <b>Оповещать о новом резюме в базе</b>
                    </label>
                </div>
                <div class="checkbox col-12">
                    <label><input th:checked="${authUser.partnerCorporateStudy}" type="checkbox"
                                  name="partnerCorporateStudy"/>
                        <b>Интересует корпоративное обучение/стажировка</b>
                    </label>
                </div>
            </div>

            <div class="form-group">
                <div class="col-10">
                    <button type="submit" class="btn btn-primary"
                            th:text="${projectName}==null ? 'Сохранить':'Зарегистрироваться'">Сохранить
                    </button>
                </div>
            </div>
            <input th:if="${projectName}!=null" type="hidden" name="project" th:value="${projectName}"/>
        </form>
    </div>
</div>
</body>
<th:block th:include="fragments::js-skype"/>
<script type="application/javascript">
    $(function () {
        handleRelocation();

    });
    function handleRelocation() {
        if ($("#considerJobOffers").is(':checked')) {
            $("#relocationCheck").show();
            if ($("#relocationReady").is(':checked')) {
                $("#relocation").show();
            } else {
                $("#relocation").hide();
            }
        } else {
            $("#relocationCheck").hide();
            $("#relocation").hide();
        }
    }
    $(function () {
        $('#fromDate').datetimepicker({
            timepicker: false,
            format: 'Y-m-d',
            formatDate: 'Y-m-d',
            onChangeDateTime: function (dp, input) {
                $("#jobWanted").attr('href', function (i, a) {
                    return a.replace(/(fromDate=).+/ig, '$1' + input.val());
                });
            }
        });
        $.datetimepicker.setLocale('ru');
    });
</script>
</html>