<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::headTag('Регистрация IntelliJ IDEA')">
    <link rel="stylesheet" href="../static/css/bootstrap.css"/>
    <link rel="stylesheet" href="../static/css/mdb.css"/>
    <link rel="stylesheet" href="../static/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../css/style.css"/>
</head>
<body>
<nav th:replace="fragments::header" class="navbar fixed-top navbar-toggleable-md navbar-dark nav-bgr">
    <div class="container">
        <a href="/" class="navbar-brand"><strong>Java Online Projects</strong></a>
    </div>
</nav>
<div class="container box">
    <div class="jumbotron">
    <h2>Спасибо за регистрацию IntelliJ IDEA!</h2>
        <!--/*@thymesVar id="response" type="ru.javaops.service.IntegrationService.SlackResponse"*/-->
        <h4>Проверь почту: должен прийти купон для бесплатной активации с подробной инструкцией</h4>
        <br/>
        <p>
        <a href="https://www.jetbrains.com/idea/download" target="_blank"><img
                src="https://camo.githubusercontent.com/3979c19ae2c9bd2b3a3fc359d53f3b79de0f8d6f/68747470733a2f2f6c68362e676f6f676c6575736572636f6e74656e742e636f6d2f2d2d5149494a664b726a536b2f554a4a36582d556f6849492f414141414141414141564d2f634f5737456a6e483737382f733830302f62616e6e65725f494445412e706e67"
                alt="IntelliJ"/></a>
        </p>
    </div>
</div>
</body>
<th:block th:include="fragments::js-skype"/>
 </html>
