<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::headTag('Регистрация')">
    <link rel="stylesheet" href="../static/css/bootstrap.css"/>
    <link rel="stylesheet" href="../static/css/mdb.css"/>
    <link rel="stylesheet" href="../static/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../css/style.css"/>
</head>
<body>
<nav th:replace="fragments::header" class="navbar fixed-top navbar-toggleable-md navbar-dark nav-bgr">
    <div class="container">
        <a href="/" class="navbar-brand"><strong>Java Online Projects</strong></a>
    </div>
</nav>
<div class="container box">
    <div class="jumbotron">
        <h2 th:text="|Спасибо за регистрацию на проекте ${project}!|">Спасибо за регистрацию на проекте project!</h2>
        <!--/*@thymesVar id="response" type="ru.javaops.service.IntegrationService.SlackResponse"*/-->
        <h4 th:text="${response.ok} ? 'На почту должно прийти приглашение в группу Slack (в течении 5 мин)' : 'Ответ от Slack: '+ ${response.error}">
            На почту должно прийти приглашение в группу Slack.
        </h4>
        <!--/*@thymesVar id="accessResponse" type="java.lang.String"*/-->
        <th:block th:if="${accessResponse}!='' and ${accessResponse}!=null">
            <h4 th:text="${accessResponse}=='ok' ? 'Проверьте доступ к материалам по ссылке в письме.' : 'Ошибка доступа: '+ ${accessResponse}+'. Обычно это неверный gmail (пропущена буква или домен .ru вместо .com). Поробуй еще раз зайти ПО ССЫЛКЕ ИЗ ПИСЬМА и поправить Gmail. Если проблема не решилась, напиши мне в скайп: grigory.kislin'">
                Проверьте доступ к материалам по ссылке в письме.
            </h4>
        </th:block>
    </div>
</div>
</body>
<th:block th:include="fragments::js-skype"/>
</html>