<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="project" type="ru.javaops.model.Project"*/-->
<!--/*@thymesVar id="user" type="ru.javaops.model.User"*/-->
<head th:include="fragments::headTag('Java Online Projects')">
    <meta charset="UTF-8"/>
    <title>Java Online Projects</title>
    <link rel="stylesheet" href="../static/bootstrap-3.3.6/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../css/style.css"/>
    <link rel="shortcut icon" href="../static/img/java_cup.ico"/>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top" th:replace="fragments::header">
    <div class="container">
        <a href="/" class="navbar-brand">Java Online Projects</a>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
            </ul>
        </div>
    </div>
</div>
<div class="jumbotron">
    <div class="container box">
        <h2>Спасибо за регистрацию!</h2>
        <!--/*@thymesVar id="response" type="ru.javaops.service.IntegrationService.SlackResponse"*/-->
        <h3 th:text="${response.ok} ? 'На почту должно прийти приглашение в группу Slack (в течении 5 мин)' : 'Ответ от Slack: '+ ${response.error}">
            На почту должно прийти приглашение в группу Slack.
        </h3>
        <!--/*@thymesVar id="accessResponse" type="java.lang.String"*/-->
        <th:block th:if="${accessResponse}!='' and ${accessResponse}!=null">
            <h3 th:text="${accessResponse}=='ok' ? 'Проверьте доступ к материалам по ссылке в письме.' : 'Ошибка доступа: '+ ${accessResponse}+' Для решения проблемы напиши мне в скайп: grigory.kislin'">
                Проверьте доступ к материалам по ссылке в письме.
            </h3>
        </th:block>
        <th:block th:if="${activationKey}!=null">
            <h3><a th:href="@{http://javaops.ru/profile(email=${param.email}, key=${param.key})}"
                   href="#">Редактировать мои данные</a></h3>
            <h3><a th:href="@{http://javaops.ru/users(email=${email}, key=${activationKey})}">Список участников,
                отсортированный по городам</a></h3>
        </th:block>
    </div>
</div>
</body>
</html>
