<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::headTag('')">
    <link rel="stylesheet" href="../static/css/bootstrap.css"/>
    <link rel="stylesheet" href="../static/css/mdb.css"/>
    <link rel="stylesheet" href="../static/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../css/style.css"/>
</head>
<body>
<nav th:replace="fragments::header" class="navbar fixed-top navbar-toggleable-md navbar-dark nav-bgr">
    <div class="container">
        <a href="/" class="navbar-brand"><strong>Java Online Projects</strong></a>
    </div>
</nav>
<div class="container box">
    <div class="jumbotron">
    <h4>Спасибо, обновления записаны!</h4>
        <!--/*@thymesVar id="userToExt" type="ru.javaops.to.UserToExt"*/-->
        <th:block th:if="${userToExt.jobThroughTopjava}">
            <h3><a href='/view/story' target="_blank">А здесь уже есть твоя история?</a></h3>
            <h4>Если еще нет: жду после испытательного срока. Поделись опытом и успехами, это важно!</h4>
        </th:block>
        <h4 th:if="${userToExt.considerJobOffers}">
            Для получения предложений о вакансиях обязательно заполни поле <code>Ссылка на резюме</code> и в <code>Информация для HR</code> так, что твое резюме захотят открыть!
        </h4>
        <h3 th:if="${userToExt.statsAgree}">
            <!--/*@thymesVar id="key" type="java.lang.String"*/-->
            <a th:href="@{/auth/users}">Список участников,
                отсортированный по городам</a>
        </h3>
        <dd><button class="btn" onclick="window.history.back()">Вернуться к редактированию профиля</button></dd>
    </div>
</div>
</body>
<th:block th:include="fragments::js-skype"/>
</html>
