<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="project" type="ru.javaops.model.Project"*/-->
<!--/*@thymesVar id="user" type="ru.javaops.model.User"*/-->
<head th:include="fragments::headTag('Java Online Projects')">
    <meta charset="UTF-8"/>
    <title>Java Online Projects</title>
    <link rel="stylesheet" href="../static/bootstrap-3.3.6/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../css/style.css"/>
    <link rel="shortcut icon" href="../static/img/java_cup.ico"/>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top" th:replace="fragments::header">
    <div class="container">
        <a href="/" class="navbar-brand">Java Online Projects</a>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
            </ul>
        </div>
    </div>
</div>
<div class="jumbotron">
    <div class="container box">
        <h4>Спасибо, обновления записаны!</h4>
        <!--/*@thymesVar id="userToExt" type="ru.javaops.to.UserToExt"*/-->
        <th:block th:if="${userToExt.jobThroughTopjava}">
            <h3><a href='/story.html' target="_blank">А здесь уже есть твоя история?</a></h3>
            <h4>Если еще нет: жду после испытательного срока. Поделись опытом и успехами, это важно!</h4>
        </th:block>
        <h4 th:if="${userToExt.considerJobOffers}">
            Скоро планирую кооперацию с HR-ами для рассылки предложений о работе.
        </h4>
        <h3 th:if="${userToExt.statsAgree}">
            <!--/*@thymesVar id="key" type="java.lang.String"*/-->
            <a th:href="@{/users(email=${userToExt.email}, key=${key})}">Список участников,
                отсортированный по городам</a>
        </h3>
    </div>
</div>
</body>
</html>
