<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::headTag('')">
    <link rel="stylesheet" href="../static/css/bootstrap.css"/>
    <link rel="stylesheet" href="../static/css/mdb.css"/>
    <link rel="stylesheet" href="../static/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../css/style.css"/>
</head>
<body>
<th:block th:if="${csv}">
    <link rel="stylesheet" href="../static/datatables/css/dataTables.bootstrap4.min.css"/>
    <link rel="stylesheet" href="../static/datatables/css/buttons.bootstrap.min.css"/>
    <link rel="stylesheet" href="../static/datatables/css/select.dataTables.min.css"/>
    <link rel="stylesheet" href="../static/datatables/css/dataTables.checkboxes.css"/>
    <link rel="stylesheet" href="../static/datatables/css/fixedHeader.dataTables.min.css"/>
</th:block>
<nav th:replace="fragments::header" class="navbar fixed-top navbar-toggleable-md navbar-dark nav-bgr">
    <div class="container">
        <a href="/" class="navbar-brand"><strong>Java Online Projects</strong></a>
    </div>
</nav>
<div class="pad" style="width: 100%; margin-left: 5px; margin-right: 0; width: 1800px">
    <table id="table" class="table table-striped">
        <!--/*@thymesVar id="result" type="ru.javaops.SqlResult"*/-->
        <thead>
        <tr>
            <th></th>
            <th th:each="header: ${result.headers}">
                <span th:text="${header}"></span>
            </th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="row,iter: ${result.rows}">
            <td th:text="${iter.count}"></td>
            <th:block th:each="item: ${row}">
                <td th:utext="${item}"></td>
            </th:block>
        </tr>
        </tbody>
    </table>
</div>
</body>
<th:block th:include="fragments::js-skype"/>
<th:block th:if="${csv}">
    <script type="text/javascript" src="../static/datatables/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="../static/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript" src="../static/datatables/js/dataTables.select.min.js"></script>
    <script type="text/javascript" src="../static/datatables/js/dataTables.checkboxes.min.js"></script>
    <script type="text/javascript" src="../static/datatables/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="../static/datatables/js/buttons.bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/datatables/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="../static/datatables/js/dataTables.fixedHeader.min.js"></script>
    <script type="text/javascript" src="../static/js/sqlResult.js"></script>
</th:block>
</html>
