<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="project" type="ru.javaops.model.Project"*/-->
<!--/*@thymesVar id="user" type="ru.javaops.to.UserStat"*/-->
<head th:include="fragments::headTag('JavaOnlineProjects')">
    <meta charset="UTF-8"/>
    <title>Java Online Projects</title>
    <link rel="stylesheet" href="../css/style.css"/>
    <link rel="shortcut icon" href="../static/img/java_cup.ico"/>
</head>
<!--/*@thymesVar id="csv" type="java.lang.Boolean"*/-->
<th:block th:if="${csv}">
    <link rel="stylesheet" href="../static/datatables/css/dataTables.bootstrap.min.css"/>
    <link rel="stylesheet" href="../static/datatables/css/buttons.bootstrap.min.css"/>
    <link rel="stylesheet" href="../static/datatables/css/select.dataTables.min.css"/>
    <link rel="stylesheet" href="../static/datatables/css/dataTables.checkboxes.css"/>
    <link rel="stylesheet" href="../static/datatables/css/fixedHeader.dataTables.min.css"/>
</th:block>
<body>
<div class="navbar navbar-inverse navbar-fixed-top" th:replace="fragments::header">
    <div class="container">
        <a href="/" class="navbar-brand">Java Online Projects</a>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
            </ul>
        </div>
    </div>
</div>
<div class="container box" style="width: 100%">
    <table id="table" class="table table-striped">
        <!--/*@thymesVar id="result" type="ru.javaops.SqlResult"*/-->
        <thead>
        <tr>
            <th></th>
            <th th:each="header: ${result.headers}">
                <span th:text="${header}"></span>
            </th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="row,iter: ${result.rows}">
            <td th:text="${iter.count}"></td>
            <th:block th:each="item: ${row}">
                <td th:utext="${item}"></td>
            </th:block>
        </tr>
        </tbody>
    </table>
</div>
</body>
<th:block th:if="${csv}">
    <script type="text/javascript" src="../static/jquery-1.12.0.min.js"></script>
    <script type="text/javascript" src="../static/datatables/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="../static/datatables/js/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/datatables/js/dataTables.select.min.js"></script>
    <script type="text/javascript" src="../static/datatables/js/dataTables.checkboxes.min.js"></script>
    <script type="text/javascript" src="../static/datatables/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="../static/datatables/js/buttons.bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/datatables/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="../static/datatables/js/dataTables.fixedHeader.min.js"></script>
    <script type="text/javascript" src="../static/js/sqlResult.js"></script>
</th:block>
</html>
