<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::headTag('')">
    <link rel="stylesheet" href="../static/css/bootstrap.css"/>
    <link rel="stylesheet" href="../static/css/mdb.css"/>
    <link rel="stylesheet" href="../static/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../css/style.css"/>
</head>
<body>
<nav th:replace="fragments::header" class="navbar fixed-top navbar-toggleable-md navbar-dark nav-bgr">
    <div class="container">
        <a href="/" class="navbar-brand"><strong>Java Online Projects</strong></a>
    </div>
</nav>
<div class="container box">
    <div class="jumbotron">
        <h4>Вы можете смотреть список,<br/> если согласны на размещением своих данных в закрытой статистике группы</h4>
        <h3><a th:href="@{/auth/profile}" href="#">Пожалуйста отредактируйте свои данные</a></h3>
    </div>
</div>
</body>
<th:block th:include="fragments::js-skype"/>
</html>