<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::headTag('Тестовое собеседование')">
    <link rel="stylesheet" href="../static/css/bootstrap.css"/>
    <link rel="stylesheet" href="../static/css/mdb.css"/>
    <link rel="stylesheet" href="../static/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../css/style.css"/>
</head>
<body>
<link rel="stylesheet" href="/static/datetimepicker/jquery.datetimepicker.min.css"/>
<nav th:replace="fragments::header" class="navbar fixed-top navbar-toggleable-md navbar-dark nav-bgr">
    <div class="container">
        <a href="/" class="navbar-brand"><strong>Java Online Projects</strong></a>
        <a href="/" class="navbar-brand"><strong>Java Online Projects</strong></a>
    </div>
</nav>
<div class="container pad">
    <h2>Интервью в skype (голосом) на позицию Java разработчик.</h2>
    <br/>
    <table>
        <tr>
            <td class="col-8" style="font-size: 21px">
                <ul>
                    <li>cамые распространенные вопросы на собеседованиях</li>
                    <li>упор не на заучивание ответов, а на понимание основ</li>
                    <li>советы как лучше ответить или оформить свою мысль</li>
                    <li>выявление слабых мест и пробелов</li>
                    <li>объяснение непонятных мест, указание ресурсов для проработки</li>
                    <li>позитивный, доброжелательный настрой и уверенность</li>
                    <li>оценка реального уровня знаний</li>
                </ul>
            </td>
            <td class="col-4">
                <div class="col-3 col-offset-1 blog-sidebar">
                    <img src="../static/img/test_interview.png" class="img-responsive"/>
                </div>
            </td>
        </tr>
    </table>
    <hr/>
    <h3>Темы тестового собеседования (можно выбрать):</h3>
    <ul class="lead">
        <li>
            <a href="https://github.com/JavaOPs/JavaSE-Web/blob/master/lesson/lesson2.md#%D0%9F%D1%80%D0%B8%D0%BD%D1%86%D0%B8%D0%BF%D1%8B-%D0%9E%D0%9E%D0%9F">Принципы
                ООП</a></li>
        <li>Java Core, <a
                href="https://github.com/JavaOPs/JavaSE-Web/blob/master/lesson/lesson3.md#%D0%9E%D0%B1%D1%8A%D0%B5%D0%BA%D1%82%D0%BD%D0%B0%D1%8F-%D0%BC%D0%BE%D0%B4%D0%B5%D0%BB%D1%8C-%D0%B2-java">объектная
            модель Java</a></li>
        <li>
            <a href="https://github.com/JavaOPs/JavaSE-Web/blob/master/lesson/lesson5.md#%D0%9A%D0%BE%D0%BD%D1%82%D0%B5%D0%B9%D0%BD%D0%B5%D1%80%D1%8B%D0%BA%D0%BE%D0%BB%D0%BB%D0%B5%D0%BA%D1%86%D0%B8%D0%B8">Коллекции</a>
        </li>
        <li><a href="https://github.com/JavaOPs/topjava/blob/master/README.md#optional-java-8">Java 8</a></li>
        <li><a href="https://github.com/JavaOPs/JavaSE-Web/blob/master/lesson/lesson15.md#html-tomcat">Html,
            Tomcat</a>, <a
                href="https://github.com/JavaOPs/JavaSE-Web/blob/master/lesson/lesson15.md#%D0%A1%D0%B5%D1%80%D0%B2%D0%BB%D0%B5%D1%82%D1%8B">Сервлеты</a>
        </li>
        <li><a href="https://ru.wikipedia.org/wiki/Model-View-Controller">MVC</a></li>
        <li><a href="http://proselyte.net/tutorials/spring-tutorial-full-version/">Spring</a>.
            <a href="https://habrahabr.ru/post/131993/">IoC, DI, IoC-контейнер</a></li>
        <li><a href="http://proselyte.net/tutorials/hibernate-tutorial/">Hibernate</a></li>
        <li><a href="https://github.com/JavaOPs/masterjava#Первое-занятие-многопоточность">Многопоточность</a>,
            <a
                    href="http://www.javaspecialist.ru/2011/06/java-memory-model.html">JMM</a></li>
        <li>
            <a href="https://github.com/JavaOPs/JavaSE-Web/blob/master/lesson/lesson3.md#%D0%A1%D0%BB%D0%BE%D0%B6%D0%BD%D0%BE%D1%81%D1%82%D1%8C-%D0%B0%D0%BB%D0%B3%D0%BE%D1%80%D0%B8%D1%82%D0%BC%D0%BE%D0%B2">Алгоритмы.
                Сложность</a></li>
        <li><a href="https://tproger.ru/translations/design-patterns-for-beginners/">Паттерны проектирования</a>
        </li>
        <li>
            <a href="https://github.com/JavaOPs/JavaSE-Web/blob/master/lesson/lesson13.md#Подключение-db-в-проект">JDBC</a>.
            <a href="https://github.com/JavaOPs/JavaSE-Web/blob/master/lesson/lesson14.md#Транзакции">Транзакции/ACID</a>
        </li>
        <li><a href="http://www.apache-maven.ru/">Maven</a></li>
        <li><a href="http://www.stijit.com/web-tips/dry-kiss-solid-yagni">Что такое DRY, DIE, KISS, SOLID, YAGNI
            в
            программировании</a></li>
    </ul>
    <hr/>
    <h3>Полезные ресурсы для подготовки</h3>
    <ul class="lead">
        <li><a href="https://github.com/JavaOPs/topjava/blob/master/cv.md">Полезные ресурсы по всем темам
            трудоустройства</a></li>
        <li><a href="https://vk.com/javawebinar?w=wall-58538268_750">Вопросы "типичного" технического
            собеседования</a></li>
        <li><a href="https://www.mkyong.com/spring/spring-bean-scopes-examples/">Spring bean scopes example</a>
        </li>
        <li><a href="https://jsehelper.blogspot.ru">Собеседование - ответы на вопросы по разным темам</a></li>
        <li><a href="http://javastudy.ru/category/interview/">Javastudy: собеседования</a></li>
        <li><a href="http://ggenikus.github.io/blog/2014/05/04/gc/">Понимаем основы Java garbage collection</a>
        </li>
        <li><a href="http://www.javaspecialist.ru/2011/06/java-memory-model.html">Java Memory Model вкратце</a>
        </li>
        <li><a href="https://habrahabr.ru/post/181033/">Типичный тест SQL на собеседованиях</a></li>
        <li><a href="https://github.com/JavaOPs/basejava/blob/master/lesson/lesson1.md">Первое занятие проекта
            "Разработка Web приложения"</a></li>
        <li><a href="https://github.com/JavaOPs/topjava#Полезные-ресурсы">Ресурсы для изучения со стажировки
            Topjava</a></li>
        <li><a href="https://www.bookvoed.ru/book?id=2593572#show_delivery">книга: Cracking the Coding
            Interview</a></li>
        <li><a href="https://tproger.ru/category/problems/">Задачки</a></li>
    </ul>
    <hr/>
    <div class="jumbotron">
        <h3>Время собеседования: 1 час/ 1450 руб./25$</h3>
        <h3>Детали в скайпе: <b><a href="skype:grigory.kislin">grigory.kislin</a></b><br/></h3>
    </div>
    <hr/>
    <h4>Из кнала #interview группы выпускников Slack</h4>
    <hr/>
    <blockquote class="text-muted">
        Всем привет! сходил на первое собеседование на вакансию Junior Java Developer, на следующий день
        получил
        офер)
        Теперь дорабатываю 2 недели на старом месте и выхожу на работу. Зарплата полностью белая, 60 тыс.
        рублей
        к
        начислению. Если интересно, напишу подробнее, как проходило собеседование, что спрашивали и т.д.
        Пока
        даже с
        трудом верится что такое возможно, теперь думаю где может быть подвох:)
        <br/>
        Компания работает с гос. заказчиками, в штате примерно 120 человек. У них сейчас несколько крупных
        проектов, на
        каждый отдельная команда. В какой конкретно проект я попаду, пока не известно, сказали определят
        ближе к
        дате
        выхода. Собеседовала меня как обычно сначала HR, задавала общие вопросы, спрашивала что за
        организация
        Java
        Online Projects, и официально ли я там работаю. Я честно сказал что это стажировка, и описал вкратце
        как
        у нас
        происходит разработка:) Спрашивала почему решил сменить сферу деятельности и т.д. Потом пришёл
        руководитель
        одного из проектов, в команду к которому я скорее всего попаду, Он спрашивал в основном в общем, на
        понимание
        предметной области: с какими технологиями я знаком, какие для чего применял и т.д. Поспрашивал
        немного
        про
        микросервисную архитектуру. Сказал что ему в целом всё понятно, и сейчас позовёт тимлида, чтобы
        проверить мои
        технические навыки. Пришёл тимлид, и тоже сначала поспрашивал по технологиям в целом, потом начал
        задавать более
        детальные вопросы по некоторым технологиям.
        <br/>
        Из тех что запомнил: по мавену - как добавлять зависимости, для чего нужны плагины. По спрингу - как
        конфигурируется спринг, какие бывают бины, как сделать бин не синглетоном. Довольно много спрашивал
        про
        Hibernate - какие бывают аннотации, связи, так же дал небольшую задачу на N+1 select. Потом задал
        буквально пару
        вопросов по Java Core - какие бывают коллекции, какие бывают сортированные мапы, что такое Hash. Вот
        с
        хэшем я
        немного затупил, не смог ответить почему в HashMap в качестве ключа можно добавить объекты с
        одинаковым
        хэшем.
        Тут тимлида позвали на какое-то важное совещание, и он закончил собеседование, сказав что по
        результатам
        мне
        сообщат. Я был уверен что меня не возьмут из-за неправильного ответа про хэш, и не очень чётких
        ответов
        по
        спринг бинам. Но на следующий день HR связалась со мной и прислала офер:)
    </blockquote>
    <hr/>
    <blockquote class="text-muted">
        Господа, как и обещал - рассказываю про собеседование в ....<br/>
        Было лайтово, не так страшно как я себе это представлял. Был всего один человек - ведущий разработчик.
        Интервью я завалил по полной как мне казалось. Вопросов вышло всего немного, потому что я дико нервничал и
        он прервал интервью видя мое состояние и предложил рассказать про контору. Вопросы были примерно такие:
        <ol>
            <li>SQL, нарисовал таблички, связь один ко многим, попросил написать запрос с использованием объединения
                двух таблиц, с GROUP BY и суммированием.
            </li>
            <li>Спросил про стримы, написал код небольшой и надо было сказать что будет в результате стрима. Было что то
                такое -коллекция, ее фильтровал, преобразовывал, что-то еще и в конце фор ич в котором он пытался
                удалить элемент коллекции. Тут я затупил, забыл что нельзя на лету удалять элементы, будет экспешн. Надо
                было сказать какой и почему.
            </li>
            <li>Про спринг вопрос - как его можно сконфигурировать, какие существуют способы. Потом написал пару
                классов, у которых был общий наследник и попытался по этому наследнику заинжектить бин Autowired(ом).
                Спросил какой из классов заинжектится. Когда сказал что будет конфликт, как избавиться от такого
                конфликта.
            </li>
        </ol>
        В общем поговорили о тестировании, JUnit(е), базах данных, хибернейте...
        Ни одного вопроса по языку у меня не было, все по фреймворкам, я такого совершенно не ожидал, потому как
        повторял в основном core и думал что начнут с него.
        Дальше он рассказывал про контору, а я спрашивал что мне интересно. Я ни на один вопрос на сто процентов
        правильно не ответил. Я представил как это выглядело, как я нервничал, это было ужасно. У меня не было сомнений
        что это провал. Но вчера мне позвонили оттуда и сказали что будут рады видеть в команде. Сегодня жду офера на
        почте.
    </blockquote>
</div>
</body>
<th:block th:include="fragments::js-skype"/>
</html>