<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::headTag('Стажировка Java Enterprise')">
    <link rel="stylesheet" href="../static/bootstrap-3.3.6/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../static/bootstrap-3.3.6/css/blog.css"/>
    <link rel="stylesheet" href="../css/style.css"/>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top" th:replace="fragments::header"></div>
<div class="container pad">
    <table width="100%">
        <tr>
            <td>
                <h2>Стажировка Java Enterprise (Topjava)</h2>
                <p class="lead"><i>Разработка полнофункционального Spring/JPA Enterprise приложения c авторизацией и
                    правами доступа на основе ролей с использованием наиболее популярных инструментов и технологий
                    Java: Maven, Spring MVC, Security, JPA(Hibernate), REST(Jackson), Bootstrap (css,js),
                    datatables, jQuery + plugins, Java 8 Stream and Time API и сохранением в базах данных Postgresql и
                    HSQLDB.</i>
                </p>
            </td>
            <td align="right" valign="top"><img src="../static/img/javaEE.png"/></td>
        </tr>
    </table>
</div>
<div class="jumbotron">
    <div class="container">
        <table width="100%">
            <tr>
                <td>
                    <h2>Старт следующего набора: 06.07</h2>
                    <h3><a href="https://github.com/JavaOPs/topjava/blob/master/description.md">Описание и план проекта
                        (открыто для просмотра 8 видео)</a></h3>
                    <h3><a href="https://vk.com/topic-74381644_30447246" target="_blank">Отзывы по
                        проекту</a></h3>
                    <h3><a href="http://topjava.herokuapp.com/">Демо разрабатываемого приложения</a></h3>
                    <br/>
                    <a class="btn btn-primary btn-lg" data-toggle="modal" data-target="#entrance" id="getentrance">Получить ссылку
                        на бесплатное вступительное занятие</a>
                </td>
                <td>
                    <script type="text/javascript" src="//vk.com/js/api/openapi.js?136"></script>
                    <div id="vk_groups"></div>
                    <script type="text/javascript">
                        VK.Widgets.Group("vk_groups", {mode: 3, width: "220"}, 58538268);
                    </script>
                </td>
            </tr>
        </table>
        <hr/>
        <iframe src="https://drive.google.com/file/d/0B9Ye2auQ_NsFY1ZDNXRCd1NCTG8/preview" width="1024"
                height="576"></iframe>
        <h3><a href="https://drive.google.com/file/d/0B9Ye2auQ_NsFY1ZDNXRCd1NCTG8/view" target="_blank"
               class="video">Вебинар ОСВАИВАЕМ JAVA ENTERPRISE</a></h3>
        <h4><a href="https://goo.gl/XNVOj4" target="_blank">Слайды вебинара</a></h4>
        <p class="lead">
            Код начального проекта был переработан: появились настройки пользователя, сохранения собственных типов в
            Hibernate, работа с java 8 (time API, Lambda, Streaming), модальные окна bootstrap, переключение локали,
            сильно уменьшено количество и упрощена работа с java
            script. Появилась логика фильтрации таблицы. В каждом уроке добавлены ответы на ваши вопросы по занятию,
            дополнительные домашние задания и подсказки по выполнению домашних заданий. Начиная с 4го занятия участники
            пишут собственный выпускной проект.
        </p>
        <h3><a href="https://github.com/JavaOPs/topjava/wiki">Требования к участникам, ответы на вопросы</a></h3>
        <i class="lead">Стажировка ведется по подготовленным на основе вебинара, разбитым по темам и отредактированым
            записям.
            Раз в неделю (четверг) производится рассылка новых материалов, обновления к проекту (патчи) и
            домашние задания. Домашние задания подобранны по темам занятия и требуют реализации
            функциональности, схожей с пройденной на занятии. Разбор домашних заданий происходит в начале
            каждого урока.
            Вопросы и обсуждение занятий и домашних заданий, общение на разные темы происходит в различных
            каналах группы проекта
            (используем <a href="https://slack.com/">мессанджер Slack</a>). </i>
    </div>
</div>
<div class="container">
    <div style="font-size: large">
        <ul>
            <li><p>
                Участники последовательно разрабатывают <strong>полнофункциональное Spring/JPA Enterprise приложение
                c
                авторизацией и правами доступа на основе ролей</strong>, используя инструменты/ библиотеки/
                фреймворки:
                <a href="http://maven.apache.org/">Maven</a>,
                <a href="http://projects.spring.io/spring-security/">Spring Security</a>,
                <a href="http://docs.spring.io/spring/docs/current/spring-framework-reference/html/mvc.html">Spring
                    MVC</a>,
                <a href="http://projects.spring.io/spring-data-jpa/">Spring Data JPA</a>,
                <a href="http://spring.io/blog/2014/05/07/preview-spring-security-test-method-security">Spring
                    Security
                    Test</a>,
                <a href="http://hibernate.org/orm/">Hibernate ORM</a>,
                <a href="http://hibernate.org/validator/">Hibernate Validator</a>,
                <a href="http://www.slf4j.org/">SLF4J</a>,
                <a href="https://github.com/FasterXML/jackson">Json Jackson</a>,
                <a href="http://ru.wikipedia.org/wiki/JSP">JSP</a>,
                <a href="http://en.wikipedia.org/wiki/JavaServer_Pages_Standard_Tag_Library">JSTL</a>,
                <a href="http://tomcat.apache.org/">Apache Tomcat</a>,
                <a href="http://www.webjars.org/">WebJars</a>,
                <a href="http://ehcache.org">Ehcache</a>,
                <a href="http://www.postgresql.org/">PostgreSQL</a>,
                <a href="http://junit.org/">JUnit</a>,
                <a href="http://hamcrest.org/JavaHamcrest/">Hamcrest</a>,
                <a href="http://jquery.com/">jQuery</a>,
                <a href="https://datatables.net/">jQuery Datatable</a>,
                <a href="http://ned.im/noty/">jQuery notification</a>,
                <a href="http://getbootstrap.com/">Bootstrap</a>.
            </p></li>
            <li><p>Основное внимание будет уделяться способам решения многочисленных проблем разработки в
                Spring/JPA, а
                также
                структурному (красивому и надежному) java кодированию и архитектуре приложения.
            </p></li>
            <li><p>Каждая итерация проекта закрепляется домашним заданием по реализации схожей функциональности.
                Следующее
                занятие
                начинается с разбора домашних заданий.

            </p>
            </li>
            <li><p>Большое внимание уделяется тестированию кода: в проекте более 100 JUnit тестов.
            </p>
            </li>
            <li><p>Несмотря на относительно небольшой размер, приложение разрабатывается с нуля как большой проект
                (например, мы используем кэш 2-го уровня Hibernate, настраиваем Jenkins для работы с ленивой
                загрузкой
                Hibernate, делаем конверторы для типов LocalDateTime (Java 8 time API),
                которые еще не поддерживаются ни JPA/Hibernate, ни Jackson/json).
                Разбираются архитектурные паттерны: слои приложения и как правильно разбивать логику по слоям, когда
                нужно
                применят Data Transfer Object.
                Т.е на выходе получается не учебный проект, а хорошо маштабируемый шаблон для большого проекта на
                всех
                пройденных технологиях.
            </p></li>
            <li><p>Большое внимание уделяется деталям: популяция базы, использование транзакционности, тесты
                сервисов и
                REST
                контроллеров, насторойка EntityManagerFactory,
                выбор реализации пула коннектов. Особое внимание уделяется работе с базой: через Spring JDBC, Spring
                ORM
                и
                Spring Data Jpa.
            </p></li>
            <li><p>Используются самые востребованные на сегодняшний момент фреймворки: Maven, Spring Security 4
                вместе с Spring Security Test, наиболее удобный для работы с базой проект Spring Data Jpa,
                библиотека
                логирования logback, реализующая SLF4J, повсеместно используемый Bootstrap и jQuery.
            </p></li>
            <li><p>Разработка ведется на <a
                    href="http://zeroturnaround.com/rebellabs/java-tools-and-technologies-landscape-2016/"
                    TARGET="_blank">the number one IDE IDEA</a>. В начале проекта выдаются персональные лицензии на 6
                месяцев.</p>
                <p>
                <a href="https://www.jetbrains.com/idea" target="_blank"><img
                        src="https://camo.githubusercontent.com/3979c19ae2c9bd2b3a3fc359d53f3b79de0f8d6f/68747470733a2f2f6c68362e676f6f676c6575736572636f6e74656e742e636f6d2f2d2d5149494a664b726a536b2f554a4a36582d556f6849492f414141414141414141564d2f634f5737456a6e483737382f733830302f62616e6e65725f494445412e706e67"
                        alt="IntelliJ"/></a>
            </p></li>

        </ul>
        <hr/>
        <span style="font-size: large">
        <ul>
            <li><p>Стоимость участия без проверки домашних заданий: <b>8300 руб./ 150$</b> <br/>
                <i>сюда входят все материалы, участие в группе <a href="https://slack.com/">Slack</a> (на каждое занятие и тему- свой канал), ответы на вопросы и помощь с проектом.</i></p>
            </li>
            <li><p>Стоимость полного пакета: <b>16200 руб./ 294$</b><br/>
                <i>добавляется проверка домашних заданий + ревью выпускного проекта (либо вашего, например тестового задания при устройстве на работу).</i></p></li>
            <li><p>Для всех: бесплатное (или с доплатой за проверку ДЗ) участие в следующий выпусках проекта.</p></li>
            <li><p>Скидка на другие курсы: 700 руб. (без ДЗ) и 1500 руб (с ДЗ).</p></li>
            <li><a href="/payment.html">Способы оплаты</a></li>
            <li><a href="http://www.finmarket.ru/currency/USD/">Курс рубля</a></li>
  	        <li><p>Добавляйтесь в <b><a href="skype:grigory.kislin">skype: grigory.kislin</a></b></p></li>
        </ul>
        </span>
        <hr/>
        <h3><b>До 15.06 ранняя цена:</b>
            <ul><li>поддержка в slak: 7900 руб./ 143$ </li>
            <li>+ проверка ДЗ и ревью выпускного проекта: 15500 руб./ 272$</li>
        </ul></h3>
    </div>
    <hr/>
    <h3>Расписание:</h3>
    <ul><h3>06.07: Старт проекта</h3>
        <li>Сбор группы в Slack</li>
        <li>Заполнение формы регистрации участника (в том числе gmail для доступа к материалам на Google Drive)</li>
        <li>Раздача учебных лицензий <a href="https://www.jetbrains.com/idea/download/index.html">JetBrains IDEA</a>
        </li>
        <li>Проверка вступительного задания (для участников с проверкой решения присылать до 21.03).</li>
    </ul>
    <ul><h3>13.07: 1-е занятие</h3>
        <li>Разбор домашнего задания вступительного занятия (вместе с Optional)</li>
        <li>Обзор используемых в проекте технологий. Интеграция ПО</li>
        <li>Maven</li>
        <li>WAR. Веб-контейнер Tomcat. Сервлеты</li>
        <li>Логирование</li>
        <li>Уровни и зависимости логгирования. JMX</li>
        <li>Домашнее задание 1-го занятия (HW1 + Optional)</li>
    </ul>
    <ul><h3>20.07: 2-е занятие</h3>
        <li>Разбор домашнего задания HW1 + Optional</li>
        <li>Библиотека vs Фреймворк. Стандартные библиотеки Apache Commons, Guava</li>
        <li>Слои приложения. Создание каркаса приложения</li>
        <li>Обзор Spring Framework. Spring Context</li>
        <li>Пояснения к HW2. Обработка Autowired</li>
        <li>Домашнее задание (HW2 + Optional)</li>
    </ul>
    <ul><h3>27.07: 3-е занятие</h3>
        <li>Разбор домашнего задания HW2 + Optional</li>
        <li>Жизненный цикл Spring контекста</li>
        <li>Тестирование через JUnit</li>
        <li>Spring Test</li>
        <li>Базы данных. Обзор NoSQL и Java persistence solution без ORM</li>
        <li>Настройка Database в IDEA</li>
        <li>Скрипты инициализации базы. Spring Jdbc Template</li>
        <li>Подготовка тестовых данных и тестирование UserService</li>
        <li>Логирование тестов</li>
        <li>Домашнее задание (HW3 + Optional)</li>
    </ul>
    <ul><h3>03.08: 4-е занятие</h3>
        <li>Разбор домашнего задания HW3 + Optional</li>
        <li>Методы улучшения качества кода</li>
        <li>Spring: инициализация и популирование DB</li>
        <li>Подмена контекста при тестировании</li>
        <li>ORM. Hibernate. JPA</li>
        <li>Поддержка HSQLDB</li>
        <li>Домашнее задание (HW4 + Optional)</li>
    </ul>
    <ul><h3>10.08: 5-е занятие</h3>
        <li>Разбор вопросов</li>
        <li>Разбор домашнего задания HW4 + Optional</li>
        <li>Транзакции</li>
        <li>Профили Maven и Spring</li>
        <li>Пул коннектов</li>
        <li>Spring Data JPA</li>
        <li>Spring кэш</li>
        <li>Домашнее задание (HW5 + Optional)</li>
    </ul>
    <ul><h3>17.08: 6-е занятие</h3>
        <li>Разбор домашнего задания HW5 + Optional</li>
        <li>Кэш Hibernate</li>
        <li>Spring Web</li>
        <li>JPS, JSTL, internationalization</li>
        <li>Динамическое изменение профиля при запуске</li>
        <li>Конфигурирование Tomcat через maven plugin. Jndi-lookup</li>
        <li>Spring Web MVC</li>
        <li>Spring Internationalization</li>
        <li>Домашнее задание (HW6 + Optional)</li>
    </ul>
    <ul><h3>24.08: 7-е занятие</h3>
        <li>Разбор домашнего задания HW6 + Optional</li>
        <li>Автогенерация DDL по модели</li>
        <li>Тестирование Spring MVC</li>
        <li>REST контроллеры</li>
        <li>Тестирование REST контроллеров. Jackson</li>
        <li>jackson-datatype-hibernate. Тестирование через матчеры</li>
        <li>Тестирование через SoapUi. UTF-8</li>
        <li>Домашнее задание (HW7 + Optional)</li>
    </ul>
    <ul><h3>31.08: 8-е занятие</h3>
        <li>Разбор домашнего задания HW7 + Optional</li>
        <li>WebJars. jQuery и JavaScript frameworks</li>
        <li>Bootstrap</li>
        <li>AJAX. Datatables. jQuery</li>
        <li>jQuery notifications plugin</li>
        <li>Добавление Spring Security</li>
        <li>Домашнее задание (HW8 + Optional)</li>
    </ul>
    <ul><h3>07.09: 9-е занятие</h3>
        <li>Разбор домашнего задания HW8 + Optional</li>
        <li>Spring Binding</li>
        <li>Spring Validation</li>
        <li>Перевод DataTables на Ajax</li>
        <li>Форма login / logout</li>
        <li>Реализация собственного провайдера авторицазии</li>
        <li>Принцип работы Spring Security. Проксирование</li>
        <li>Spring Security Test</li>
        <li>Cookie. Session</li>
        <li>Домашнее задание (HW9 + Optional)</li>
    </ul>
    <ul><h3>14.09: 10-е занятие</h3>
        <li>Разбор домашнего задания HW10 + Optional</li>
        <li>Spring Security Taglib. Method Security Expressions</li>
        <li>Интерсепторы. Редактирование профиля. JSP tag files</li>
        <li>Форма регистрации</li>
        <li>Обработка исключений в Spring</li>
        <li>Encoding password</li>
        <li>Защита от межсайтовой подделки запросов (CSRF)</li>
        <li>Домашнее задание (HW10)</li>
    </ul>
    <ul><h3>21.09: Заключительное занятие</h3>
        <li>Разбор домашнего задания HW10 + Optional</li>
        <li>Деплой <a href="http://topjava.herokuapp.com/">приложения в Heroku</a></li>
        <li>Возможные доработки приложения</li>
    </ul>
    <th:block th:include="fragments::footer"/>
</div>
</body>
<th:block th:include="fragments::skype"/>
</html>