<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::headTag('User info')">
    <link rel="stylesheet" href="../static/css/bootstrap.css"/>
    <link rel="stylesheet" href="../static/css/mdb.css"/>
    <link rel="stylesheet" href="../static/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../css/style.css"/>
</head>
<body>
<div class="container" style="width: 750px !important;">
    <br/>
    <dl class="row">
        <dt class="col-3"></dt>
        <dd class="col-9"><h3 th:text="${user.fullName}">fullName</h3></dd>
        <dt class="col-3">Cтажировка:</dt>
        <dd class="col-9"><span th:utext="${projects}">Projects</span></dd>
        <dt class="col-3">Email</dt>
        <dd class="col-9"><a href="" th:href="'mailto:' + ${user.email}" th:text="${user.email}"></a></dd>
        <dt class="col-3">Skype</dt>
        <dd class="col-9" th:text="${user.skype}">skype</dd>
        <dt class="col-3">Город</dt>
        <dd class="col-9" th:text="${#strings.capitalize(user.location)}">location</dd>
        <th:block th:if="${user.resumeUrl}!=null">
            <dt class="col-3">Резюме</dt>
            <dd class="col-9"><a href="" th:href="${user.resumeUrl}" target="_blank">Ссылка на резюме</a></dd>
        </th:block>
        <dt class="col-3">Релокация</dt>
        <dd class="col-9" th:text="${user.relocationReady}">true</dd>
        <dt class="col-3">Место релокации</dt>
        <dd class="col-9" th:text="${user.relocation}">Relocation</dd>
        <dt class="col-3">Обо мне</dt>
        <dd class="col-9" th:text="${user.aboutMe}">aboutMe</dd>
        <br/>
        <dt class="col-3"></dt>
        <dd class="col-9">
            <button class="btn" onclick="window.close()">Закрыть</button>
        </dd>
        <br/>
        <!--/*@thymesVar id="partner" type="ru.javaops.model.User"*/-->
        <form th:if="${partner.isAdmin()}" method="post" action="saveAdminInfo" class="col-12">
            <input type="hidden" name="email" th:value="${user.email}"/>
            <input type="hidden" name="adminKey" th:value="${partner.email}"/>
            <div class="form-group">
                <textarea class="form-control" name="comment" rows="7" th:utext="${user.comment}"></textarea>
            </div>
            <div class="form-group row">
                <label class="col-1">Бонус:</label>
                <div class="col-2">
                    <input type="number" class="form-control" name="bonus" th:value="${user.bonus}"/>
                </div>
                <label class="col-1">Метка:</label>
                <div class="col-4">
                    <input class="form-control" name="mark" th:value="${user.mark}"/>
                </div>
                <button type="submit" class="btn btn-primary">Сохранить</button>
            </div>
        </form>
    </dl>
</div>
</body>
</html>