<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="user" type="ru.javaops.model.User"*/-->
<!--/*@thymesVar id="projectName" type="java.lang.String"*/-->
<head th:replace="fragments::headTag('User info')">
    <meta charset="UTF-8"/>
    <title>Инфо</title>
    <link rel="stylesheet" href="../static/bootstrap-3.3.6/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../css/style.css"/>
    <link rel="shortcut icon" href="../static/img/java_cup.ico"/>
</head>
<body>
<div class="container" style="width: 750px !important;">
    <br/>
    <dl class="dl-horizontal">
        <dt></dt>
        <dd><h3 th:text="${user.fullName}">fullName</h3></dd>
        <dt>Cтажировка:</dt>
        <dd><h4 th:utext="${projects}"></h4></dd>
        <dt>Email</dt>
        <dd><a href="" th:href="'mailto:' + ${user.email}" th:text="${user.email}"></a></dd>
        <dt>Skype</dt>
        <dd th:text="${user.skype}">skype</dd>
        <dt>Город</dt>
        <dd th:text="${#strings.capitalize(user.location)}">location</dd>
        <dt>Резюме</dt>
        <dd><a href="" th:href="${user.resumeUrl}" target="_blank">Ссылка на резюме</a></dd>
        <dt>Релокация</dt>
        <dd th:text="${user.relocationReady}">true</dd>
        <dt>Место релокации</dt>
        <dd th:text="${user.relocation}">Relocation</dd>
        <dt>Обо мне</dt>
        <dd th:text="${user.aboutMe}">aboutMe</dd>
        <br/>
        <dt></dt>
        <dd>
            <button class="btn" onclick="window.close()">Закрыть</button>
        </dd>
        <br/>
        <!--/*@thymesVar id="partner" type="ru.javaops.model.User"*/-->
        <form th:if="${partner.isAdmin()}" class="form-horizontal" method="post" action="saveAdminInfo">
            <input type="hidden" name="email" th:value="${user.email}"/>
            <input type="hidden" name="adminKey" th:value="${partner.email}"/>
            <div class="form-group">
                <div class="col-xs-12">
                    <textarea class="form-control " name="comment" rows="7" th:utext="${user.comment}"></textarea>
                </div>
            </div>
            <div class="form-group ">
                <label class="control-label col-sm-1">Бонус:</label>
                <div class="col-xs-2">
                    <input type="number" class="form-control" name="bonus" th:value="${user.bonus}"/>
                </div>
                <label class="control-label col-sm-1">Метка:</label>
                <div class="col-xs-4">
                    <input class="form-control" name="mark" th:value="${user.mark}"/>
                </div>
                <button type="submit" class="btn btn-primary">Сохранить</button>
            </div>
        </form>
    </dl>
</div>
</body>
</html>