<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::headTag('')">
    <link rel="stylesheet" href="../static/css/bootstrap.css"/>
    <link rel="stylesheet" href="../static/css/mdb.css"/>
    <link rel="stylesheet" href="../static/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../css/style.css"/>
</head>
<body>
<nav th:replace="fragments::header" class="navbar fixed-top navbar-toggleable-md navbar-dark nav-bgr">
    <div class="container">
        <a href="/" class="navbar-brand"><strong>Java Online Projects</strong></a>
    </div>
</nav>
<div class="container box" style="width: 90%">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Имя</th>
            <th>Город</th>
            <th>Обо мне</th>
            <th>skype</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user: ${users}">
            <td th:text="${user.fullName}"></td>
            <td th:text="${user.location}"></td>
            <td th:utext="${user.aboutMe}"></td>
            <td th:text="${user.skype}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
<th:block th:include="fragments::js-skype"/>
</html>