<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="user" type="ru.javaops.model.User"*/-->
<!--/*@thymesVar id="projectName" type="java.lang.String"*/-->
<head th:replace="fragments::headTag('User info')">
    <meta charset="UTF-8"/>
    <title>Инфо</title>
    <link rel="stylesheet" href="../static/bootstrap-3.3.6/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../css/style.css"/>
    <link rel="shortcut icon" href="../static/img/java_cup.ico"/>
</head>
<body>
<div class="container">
    <br/>
    <dl class="dl-horizontal">
        <dt></dt>
        <dd><h3 th:text="${user.fullName}">fullName</h3></dd>
        <dt>Cтажировока:</dt>
        <dd><h4 th:utext="${projects}"></h4></dd>
        <dt>Email</dt>
        <dd><a href="" th:href="'mailto:' + ${user.email}" th:text="${user.email}"></a></dd>
        <dt>Skype</dt>
        <dd th:text="${user.skype}">skype</dd>
        <dt>Город</dt>
        <dd th:text="${#strings.capitalize(user.location)}">location</dd>
        <dt>Резюме</dt>
        <dd><a href="" th:href="${user.resumeUrl}" target="_blank">Ссылка на резюме</a></dd>
        <dt>Релокация</dt>
        <dd th:text="${user.relocationReady}">true</dd>
        <dt>Обо мне</dt>
        <dd th:text="${user.aboutMe}">aboutMe</dd>
    </dl>
</div>
</body>
</html>