<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::headTag('Ошибка')">
    <!-- ============================================================================ -->
    <!-- This <head> is only used for static prototyping purposes (natural templates) -->
    <!-- and is therefore entirely optional, as this markup fragment will be included  -->
    <!-- from "fragments.html" at runtime.                                            -->
    <!-- ============================================================================ -->
    <meta charset="UTF-8"/>
    <title>Истории</title>
    <link rel="stylesheet" href="../static/bootstrap-3.3.6/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../static/bootstrap-3.3.6/css/docs.min.css"/>
    <link rel="stylesheet" href="../css/style.css"/>
    <link rel="shortcut icon" href="../static/img/java_cup.ico"/>
    <link rel="stylesheet" href="../css/style.css"/>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top" th:replace="fragments::header">
    <div class="container">
        <a href="/" class="navbar-brand">Java Online Projects</a>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
            </ul>
        </div>
    </div>
</div>
<div class="container indent-body">
    <p>
        В данный момент я работаю в западной корпорации на должности ИТ-администратора: системы коммуникаций на базе Asterisk (офисная телефония, центры обработки вызовов итд), также занимаюсь системами виртуализации и базами данных.
        В современная телефонии происходит активная интеграция с CRM-системами. В какой-то момент мне стало очевидно, что для предоставления полнофункциональных решений связи просто необходимо освоить программирование.
        Это было около года назад, в качестве глобальной задачи я решил написать приложение по автообзвону клиентов с веб-интерфейсом и интеграцией с любимым Asterisk.
    </p>
    <h3>Как изучать, что изучать и где?</h3>
        Такие вопросы стали передо мной. Первой попыткой был php, прошел несколько курсов, но к написанию реального приложения меня это не приблизило. Возникало скорее больше вопросов, ответы на которые не удавалось найти.
        От отчаяния я решил перейти на другой язык. Это был java. Базовые вещи java core учил по трем фронтам: <a href="http://javarush.ru/">JavaRush</a>, <a href="http://kademika.com/">Кадемика</a> и <a href="https://www.youtube.com/channel/UCuIctN7x71qam9K_ZxS1W2A">лекции Ивана Головача</a>.
        Процесс изучения пошел и мне все нравилось, но временами впадал в полное уныние и прокрастинацию, так как сухая теория и отрешенные от реалий задачки JavaRush не придавали мотивации и не приближали к конечной цели - написать приложение для автообвзона (всегда лезли вопросы типа - ну как написание алгоритма сортировки мне вообще понадобиться для веб-приложения итд).
        Несколько раз делал перерыв на неделю и даже две. Думал даже вообще бросить все. Каждое утро я просыпался с мыслью: "Как мне написать приложение?".
        Уже была изучена библиотека для работы с Asterisk, но как связать базу, веб, астериск и полностью развернуть свое приложения у меня не было представления.
    <h3>Перехват мастерства</h3>
        Как-то раз в один из мрачных вечеров я нашел на javarush описание курса <a href="https://github.com/JavaOPs/topjava/blob/master/description.md">topjava</a> и сразу понял, что это то, что я ищу.
        В нейролингвистическом программировании есть такое понятие, как моделирование мастерства - или перехват мастерства.
    В основе этого понятия лежит идея, что если кто-то, что-то делает хорошо - то этому можно достаточно быстро научиться, для этого достаточно понять некоторую общую схему.
    Действительно в течении многих лет мастера брали на обучение подмастерьев, которые перенимали профессионализм просто наблюдая за работой
    <sup data-text="От себя добавлю что для овладения мастерством необходимо не просто наблюдение, а участие, практика" class="bootstrap-footnote" data-original-title="прим. Григорий Кислин">1</sup>. Очень похожим способом обучает программированию Григорий. В том же НЛП предполагается, что для освоения чего-либо необходимо пройти хотя бы 3 раза. В нашем случае 1 раз - мы смотрим, как пишет программу Григорий, второй раз - выполняем домашнее задание, которое по структуре очень похоже на тот код, который Григорий создал. Для меня третьим разом было написание кода в своем приложении.
        Обучение программированию, можно сравнить с обучением вождением автомобиля и от инструктора очень многое зависит. Приведу пример - на уроках в кадемике Олег Ющенко мог позволить себе прямо во время вебинара "поржать" с кода одного из участников. Мне кажется, что для эффективного изучения очень важно, чтобы чувствовалась поддержка преподавателя. У Григория это очень хорошо получалось - всегда оперативно оказывал помощь в сложных моментах работы с фреймворками и фронтендом.
    <h3>Что в итоге?</h3>
        Приложение автообзвон готово и уже эффективно работает в тестовом режиме в одном небольшом контакт-центре.
    Ради спортивного интереса я сходил на несколько собеседований, в 2 из 3 прошел на должность джуниора. Сейчас менять место работы не планирую: в моей компании меня сейчас пригласили принять участие в новом проекте на основе java+extJS, что открывает новые карьерные горизонты.
    Конечно еще много неуверенности и нужно улучшать навыки программирования. С нетерпением жду курса по Григория <a href="http://javawebinar.ru/masterjava/">masterjava</a>.
    <hr>
    Иван Виноградов, 04/03/2016
</div>
<br/>
</body>
<th:block th:replace="fragments::footer">
    <script src="../static/jquery-1.12.0.min.js"></script>
    <script src="../static/bootstrap-3.3.6/js/bootstrap.min.js"></script>
</th:block>
<th:block th:replace="fragments::footnotes">
    <link rel="stylesheet" href="../static/plugins/bootstrap.footnotes.css"/>
    <script src="../static/plugins/bootstrap-tooltip.js"></script>
    <script src="../static/plugins/bootstrap-popover.js"></script>
    <script src="../static/plugins/bootstrap.footnotes.js"></script>
    <script>$(function(){$.footnotes();});</script>
</th:block>
</html>