<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Текущие и будущие проекты, бонусная программа, презентация Basejava</title>
</head>
<p th:text="|Здравствуйте ${user.firstName}!|"></p>
<p>
<h4>На прошлой неделе закончилась 10-я стажировка Java Enterprise, в базе появились свежие вакансии.</h4>
Кроме того появилась возможность <b><a href="" th:href="@{http://javaops.ru/profile(email=${user.email}, key=${activationKey})}">из своего профиля</a></b> смотреть на кандидатов,
добавивших резюме с определенной даты (выбор даты и ссылка на базу наверху профиля).<br/>
Также Вы можете заполнить пустые поля профиля для лучшего сотрудничества.
<hr/>
Возможно также Вас заинтересует рефферальная программа бонусов, которые можно перевести в деньги.<br/>
На каждую регистрацию (получение первого бесплатного занятия) по ссылке ниже и каждую оплату Вам будет приходить уведомительное письмо.<br/>
<th:block th:include="mailFragments::bonus"/>
<th:block  th:include="mailFragments::generalFooter"/>
</html>