<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Свежие вакансии + рефферальная программа бонусов</title>
</head>
<p th:text="|Здравствуйте ${user.firstName}!|">
</p>
<h4>На прошлой неделе закончилась 10-я стажировка Java Enterprise, в базе появились свежие вакансии.</h4>
И появилась возможность <b><a href="" th:href="@{http://javaops.ru/profile(email=${user.email}, key=${activationKey})}">из
    своего профиля</a></b> выбирать кандидатов,
добавивших резюме с определенной даты (выбор даты и ссылка на базу вверху профиля). Также Вы можете заполнить пустые
поля профиля для лучшего сотрудничества.
<p>
    Возможно также Вас заинтересует рефферальная программа бонусов (заранее извиняюсь, если нет).
    На каждую регистрацию (получение первого бесплатного занятия) по реферальным ссылкам Вам будет приходить
    уведомительное письмо и при оплате добавляться бонусы, которые можно будет перевести в деньги (подробности по
    запросу).
</p>
Спасибо за сотрудничество. Надеюсь, что Вы найдете в базе кандидатов достойных Java разработчиков.
<th:block th:include="mailFragments::generalFooter"/>
</html>