<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Обновленная информация по проектам + реферальная программа</title>
</head>
<p th:replace="mailFragments::header(${user})">
    Здравствуй!<br/>
</p>

<h4>Высылаю обновленную информацию по текущим и будущим проектам.<br/>
    Возможно что-то подойдет тебе или кому-то из твоих знакомых (ниже есть реферальные ссылки).</h4>

<h3>1. Запускаю базовую программу <a href="http://javaops.ru/reg/basejava?ch=mail">Разработка Web приложения "База
    данных резюме" (Basejava)</a>, от массивов до сервлетов и деплоя в Heroku.com</h3>
<h4>11.07 в 20.00 будет <a href="https://www.youtube.com/watch?v=Upz4RWvDGCM">вступительный
    вебинар-презентация</a> по проекту<br/>
    Ссылка на <a href="https://github.com/JavaOPs/basejava/blob/master/lesson/lesson1.md">первое открытое
        занятие</a><br/>
    Проект идет в индивидуальном режиме (старт в любое время) по готовым материалам с поддержкой в мессенджере Slack и
    личным куратором Татьяной (многим знакомой по Topjava).</h4>
Разработка веб приложение начиная с первого занятия, основываясь на базовых темах проекта: объектная модель, коллекции,
система ввода-вывода, работа с файлами, сериализация, работа с XML, JSON, SQL, персистентность в базу данных
(PostgreSQL), сервлеты, JSP/JSTL, веб-контейнер Tomcat, HTML, модульные тесты JUnit, java.util.Logging, система контроля
версий Git.<br/>

<h3>2. <a href="http://javaops.ru/reg/topjava?ch=mail">Стажировка Java Enterprise (Topjava)</a>, 11 выпуск</h3>
<h4>Старт 06.07, первое занятие 13.07. <a href="http://javaops.ru/reg/topjava#schedule">Расписание</a><br/>
12-й выпуск будет в конце октября</h4>

Разработка полнофункционального Spring/JPA Enterprise приложения c авторизацией и правами доступа на основе ролей с
использованием наиболее популярных инструментов и технологий Java: Maven, Spring MVC, Security, JPA(Hibernate),
REST(Jackson), Bootstrap (css,js), datatables, jQuery + plugins, Java 8 Stream and Time API и сохранением в базах данных
Postgresql и HSQLDB.

<h3>3. <a href="http://javaops.ru/reg/masterjava?ch=mail">Многомодульный maven. Многопоточность. XML. Веб сервисы.
    Удаленное взаимодействие (Masterjava)</a></h3>
<h4>Участие в проекте в индивидуальном порядке (старт в любое время) по готовым материалам и патчам с поддержкой в
    группе Slack. Для всех участников осенью планируется стажировка (занятия раз в неделю) с обновлением проекта
    (анологично
    формату Topjava)</h4>
Разработка полнофункционального многомодульного Maven проекта, состоящего из 3-х веб приложений. XML (JAXB, StAX,
XPath, XSLT), SOAP (JAX-WS, MTOM), JAX-RS (Jersey), JMS (ActiveMQ), AKKA (Typed и Untyped Actors), servlet 3.0,
jDBI, LiquiBase, Guava, Thymleaf, Lombook, StreamEx, Typesafe Config, Java Microbenchmark JMH

<h3>4. <a href="http://javaops.ru/interview/test.html">Интервью в skype (голосом) на позицию Java разработчик.</a>
</h3>
<ul>
    <li>cамые распространенные вопросы на собеседованиях</li>
    <li>упор не на заучивание ответов, а на понимание основ</li>
    <li>советы как лучше ответить или оформить свою мысль</li>
    <li>выявление слабых мест и пробелов</li>
    <li>объяснение непонятных мест, указание ресурсов для проработки</li>
    <li>позитивный, доброжелательный настрой и уверенность</li>
    <li>оценка реального уровня знаний</li>
</ul>

<h3>5. В планах (ближе к осени): дополнения к Topjava (Java Config, Thymleaf, H2, Bean Mapping, Ouath2, JWT, Nginx,
    Spring Boot, ...)</h3>
<hr/>
<h3>Запустил реферальную программу!</h3>
<h4>На каждую регистрацию (получение бесплатного занятия по реферальным ссылкам ниже) тебе будет приходить
    уведомительное письмо, а при оплате добавляться 25 бонусов за Topjava/Masterjava и 10 за Basejava.</h4>

<ul>На бонусы можно
    <li>получить скидку на любой из текущих или будущих проектов , 1 бонус = 1% скидки
    </li>
    <li>накопив от 100 бонусов получить комиссию деньгами (100 бонусов = 10 000 руб./ 175$)</li>
</ul>
<h4 th:if="${user.bonus}!=0" th:text="|Твои бонусы на данный момент: ${user.bonus}|">
    Твои бонусы на данный момент: 100
</h4>
<ul>Личные реферальные ссылки (зарегистрировавшись по которым участник будет считаться твоим):
    <li th:text="|Topjava: ${topjavaRef}|">Topjava</li>
    <li th:text="|Masterjava: ${masterjavaRef}|">Masterjava</li>
    <li th:text="|Basejava: ${basejavaRef}|">Basejava</li>
</ul>
Надеюсь, что программа будет взаимовыгодной:)
<th:block th:include="mailFragments::footer"/>
</html>