<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Обновление текущих проектов + реферальная программа</title>
</head>
<p th:replace="mailFragments::header(${user})">
    Здравствуй!<br/>
</p>
На всякий случай даю всю информацию по текущим и будущим проектам:

<h3>Запустил свою базовую программу <a href="http://javaops.ru/reg/basejava?ch=mail">Разработка Web приложения "База данных резюме" (Basejava)</a> (начиная от массивов и до сервлетов)
<h3>11.07 в 20.00 проведу <a href="https://www.youtube.com/watch?v=Upz4RWvDGCM">вступительный вебинар-презентацию</a>, <a href="https://github.com/JavaOPs/basejava/blob/master/lesson/lesson1.md">открыто первое занятие</a></h3>
Разработка веб приложение начиная с первого занятия, основываясь на базовых темах проекта: объектная модель, коллекции, система ввода-вывода, работа с файлами, сериализация, работа с XML, JSON, SQL, персистентность в базу данных (PostgreSQL), сервлеты, JSP/JSTL, веб-контейнер Tomcat, HTML, модульные тесты JUnit, java.util.Logging, система контроля версий Git.
<b>Проект идет в индивидуальном режиме (старт в любое время) по готовым материалам с поддержкой в мессенджере Slack и личным куратором Татьяной.</b>

<h3><a href="http://javaops.ru/reg/topjava?ch=mail">Стажировка  Java Enterprise (Topjava)</a>
Разработка полнофункционального Spring/JPA Enterprise приложения c авторизацией и правами доступа на основе ролей с использованием наиболее популярных инструментов и технологий Java: Maven, Spring MVC, Security, JPA(Hibernate), REST(Jackson), Bootstrap (css,js), datatables, jQuery + plugins, Java 8 Stream and Time API и сохранением в базах данных Postgresql и HSQLDB.
<b>Старт стажировки 06.07. <a href="http://javaops.ru/reg/topjava#schedule">Расписание</a></b>
(Если ты уже прошел Topjava и есть желание повторить, <a th:href="@{http://javaops.ru/repeat(email=${user.email}, project='topjava')}">ссылка на повтор</a>.

<h3><a href="http://javaops.ru/reg/topjava?ch=mail">Стажировка  Java Enterprise (Topjava)</a>

    Многомодульный maven. Многопоточность. XML. Веб сервисы. Удаленное взаимодействие (Masterjava)
Разработка полнофункционального многомодульного Maven проекта, состоящего из 3-х веб приложений. XML (JAXB, StAX, XPath, XSLT),  SOAP (JAX-WS, MTOM), JAX-RS (Jersey), JMS (ActiveMQ),  AKKA (Typed и Untyped Actors), servlet 3.0, jDBI, LiquiBase, Guava, Thymleaf, Lombook, StreamEx, Typesafe Config, Java Microbenchmark JMH
Участие в проекте в индивидуальном порядке (старт в любое время) по готовым материалам и патчам с поддержкой в группе Slack. Для всех участников осенью планируется стажировка (занятия раз в неделю) с обновлением проекта

Интервью в skype (голосом) на позицию Java разработчик.
- cамые распространенные вопросы на собеседованиях
- упор не на заучивание ответов, а на понимание основ
- советы как лучше ответить или оформить свою мысль
- выявление слабых мест и пробелов
- объяснение непонятных мест, указание ресурсов для проработки
- позитивный, доброжелательный настрой и уверенность
- оценка реального уровня знаний

<p>
    Возможно также Вас заинтересует реферальная программа (заранее извиняюсь, если нет).
    На каждую регистрацию (получение первого бесплатного занятия) по реферальным ссылкам Вам будет приходить
    уведомительное письмо а при оплате добавляться бонусы, которые можно будет перевести в деньги (подробности по
    запросу).
</p>
Спасибо за сотрудничество! Надеюсь, что Вы найдете в базе кандидатов достойных Java разработчиков.
<th:block th:include="mailFragments::simpleFooter"/>
</html>