<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title th:text="|Участие пользователя ${email} в проекте ${project}|"></title>
</head>
<p th:replace="mailFragments::header(${user})">
    Здравствуй!<br/>
</p>
<p th:text="|Пользователь ${email} стал участником проекта ${project}|"></p>
<h3 th:text="|Поздравляю! +${addBonus} бонусов, итого ${user.bonus}.|"></h3>
<hr/>
<th:block th:include="mailFragments::bonus"/>
<th:block  th:include="mailFragments::generalFooter"/>
</html>