.box {
    text-align: center;
    vertical-align: middle;
    align-content: center;
}

.pad, .box {
    padding-top: 70px;
}

.container {
    width: 1170px !important;
}

.indent-body {
    padding-top: 70px;
}

.bs-callout {
    padding: 5px 20px;
}

.align_left, .dataTables_filter{
    text-align: left !important;
}

.align_center {
    text-align: center;
}

footer {
    border-top: 1px solid #eee;
    width: 1170px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    font-size: 75%;
    color: #CCC;
}

a[href^="skype:"] {
    font-size: large !important;
    color: darkgray !important;
}

a[href^="mailto:"] {
    padding-left: 20px !important;
    background: url(../static/img/email.png) no-repeat center left;
}

a[href^="https://vk.com"], .vk {
    padding-left: 20px !important;
    background: url(../static/img/vk.gif) no-repeat center left;
}

a[href^="https://tproger.ru"] {
    padding-left: 20px !important;
    background: url(../static/img/tprg.ico) no-repeat center left;
}

a[href^="https://www.youtube.com"], .video {
    padding-left: 20px !important;
    background: url(../static/img/youtube.ico) no-repeat center left;
}

a[href^="https://habrahabr.ru"] {
    padding-left: 20px !important;
    background: url(../static/img/habrahabr.png) no-repeat center left;
}

a[href^="https://stackoverflow.com"] {
    padding-left: 20px !important;
    background: url(../static/img/so.ico) no-repeat center left;
}

a[href^="https://www.linkedin.com"] {
    padding-left: 20px !important;
    background: url(../static/img/lin.png) no-repeat center left;
}

a[href*="github.com"] {
    padding-left: 20px !important;
    background: url(../static/img/gh.png) no-repeat center left;
}

a[href*="drive.google.com"] {
    padding-left: 20px !important;
    background: url(../static/img/gdrv.ico) no-repeat center left;
}

a[href*="docs.google.com"] {
    padding-left: 20px !important;
    background: url(../static/img/gdoc.ico) no-repeat center left;
}

a[href*="yadi.sk"] {
    padding-left: 20px !important;
    background: url(../static/img/yadi.png) no-repeat center left;
}

a[href*="hh.ru"], a[href*="hh.ua"] {
    padding-left: 20px !important;
    background: url(../static/img/hh.png) no-repeat center left;
}

a[name] {
    padding-top: 70px;
}