.box {
    text-align: center;
    vertical-align: middle;
    align-content: center;
}

.pad, .box {
    padding: 70px;
}

.wide {
    width: 1170px !important;
}

.indent-body {
    padding-top: 70px;
}

.bs-callout {
    padding: 5px 20px;
}

.align_left, .dataTables_filter{
    text-align: left !important;
}

.align_center {
    text-align: center;
}

footer {
    border-top: 1px solid #eee;
    width: 1170px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    font-size: 75%;
    color: #CCC;
}