.box {
    text-align: center;
    vertical-align: middle;
    align-content: center;
}

.pad, .box {
    padding: 70px;
}

.indent-body { padding-top: 70px; }
.bs-callout { padding: 5px 20px;}

.align_left{
    text-align: left;
}
.align_center{
    text-align: center;
}