<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::headTag('История')">
    <link rel="stylesheet" href="../../static/css/bootstrap.css"/>
    <link rel="stylesheet" href="../../static/css/mdb.css"/>
    <link rel="stylesheet" href="../../css/style.css"/>
</head>
<body>
<nav th:replace="fragments::header" class="navbar fixed-top navbar-toggleable-md navbar-dark nav-bgr">
    <div class="container">
        <a href="/" class="navbar-brand">Java Online Projects</a>
    </div>
</nav>
<div class="container pad">
<img src="/static/img/portrait/GrigoryKislin.jpg" align="left" style="margin:0 30px 30px 0;"/>
    <h2>Начало</h2>
    Программировать я начал в школе на <a href="https://ru.wikipedia.org/wiki/Электроника_МК-61">Электронике
    МК-61</a>, целых 105 иструкций. В журналах "Наука и жизнь", "Техника Молодежи" были программки игр, умещающиеся в
    96 инструкций БЗ-34, например, посадка на Луну.
    В ИТМО на 2-м курсе повезло работать в студенческом научном обществе: перфокарты, Fortran-4, <a
        href="http://www.computer-museum.ru/histussr/2-45.htm">EC-1045</a>. А в конце 80х - начале 90х случилось чудо:
    на кафедре появилось две <a href="https://ru.wikipedia.org/wiki/IBM_PC/XT">IBM XT</a>: 20M HDD, 640K
    ОЗУ, голубой Norton Commander, MS-DOS, четырехцветная графика 320*480,
    очереди за книгой Фигурнова <a href="https://www.livelib.ru/book/1000836458">IBM PC для
    пользователя</a>. Все изучали сами: FORTRAN-77, C, позже ООП и Borland C++ 3.0.
    <p><b>
        <ul>
            <li>используйте любую возможность для практики, чем раньше, тем лучше;</li>
            <li>обязательно самообразование</li>
        </ul>
    </b></p>
    <br/>
    <h2>Встреча с Java</h2>
    Возвратиться в программирование в 2005 году после 8 лет работы в Alcatel инженером по тестированию телефонной
    станции было нелегко: взяли в Siemens на java как специалиста по предметной обасти. Причем, пока ждал ответа от
    Siemens, пришлось отказаться от перехода внутри Alcatel на вакансию программиста C++.
    По java за спиной был только прочитанный курс <a href="http://www.intuit.ru/studies/courses/16/16/info">intuit:
    программирование на Java</a>.
    До сих пор в своем курсе <a href="http://javawebinar.ru/basejava/">Практика Java. Разработка Web приложения</a>
    много тем беру оттуда. Взяли меня на уровне с другими 5-ю разработчиками, совсем не новичками. Догонять пришлось
    много,
    первые 2 года читал запоем все, что попадалось по java, паттернам и разработке.
    <p><b>
        <ul>
            <li>знание предметной области - плюс;</li>
            <li>не бойтесь рисковать.</li>
        </ul>
    </b></p>

    <blockquote>
        <h4>Жизнь — как вождение велосипеда. Чтобы сохранить равновесие, ты должен двигаться.</h4>
        <small>Альберт Эйнштейн</small>
    </blockquote>
    <blockquote>
        <h4>Нужно бежать со всех ног, чтобы только оставаться на месте, а чтобы куда-то попасть, надо бежать как минимум
            вдвое быстрее!</h4>
        <small>Льюиса Кэрролл "Алиса в Зазеркалье"</small>
    </blockquote>
    Ушел из Siemens после 2 с небольшим лет, как только перерос их велосипеды (незадолго до меня они перешли с
    собственной RDBMS на Oracle, сборка была через make, в проекте не было ни одной сторонней библиотеки) и понял,
    как это нужно делать.
    Как раз в Россию пришла программа бонусов за инновации - заработал на ней 2 поощрительных рюкзака, вместо 3-го
    наградили поездкой в Вену, где
    была презентация "новых" подходов - самописный язык типа Fortran и самописное IDE на Swing. И это в 2007 году!
    Коллектив был классный, полгода провел с ними в Польше, принимая проект, многому у них научился. Конечно уходить
    было нелегко, но это означало остановку в развитии, которая была мне важнее всего.
    Далее попал в отличную для новичка среду профессиональной разработки: JBoss, Hibernate, ревью кода, высокие темпы
    (особенно по сравению с релаксом Siemens), профессиональные архитекторы и тимлиды.
    Оттуда ушел по заманчивому предложению в Yota - стать синьором и самому проектировать. Далее по всем сменам места
    работы у меня примерно получалось так: набираю опыт - применяю его на новом месте при разработке проекта с нуля.
    Вообще частые переходы (меньше чем раз в 2 года) не очень приветствуются HR, кто-то делает карьеру и растет на одной
    работе. В любой работе есть рутина, багфикс, не очень привлекательные задачи, а иногда и просто - отсутствие всякого
    желания. Это проходит.
    Не подавайтесь сиюминутным эмоциям, смена работы должно быть взвешенное, созревшее решение. Также был свидетелем,
    когда
    новички уходили на 2й -3й день, расцениваю это как сдачу перед первыми же трудностями.
    <p><b>
        <ul>
            <li>работать должно быть интересно (если смотреть отстраненно, с перспективой);</li>
            <li>если вам не нравятся кривые решения, прежде чем уйти, попробуйте пробить свои;</li>
            <li>иногда есть возможность поменять проект (стек технологий) внутри одной компании;</li>
            <li>если вы таки решились поменять работу - не дайте себя уговорить остаться;</li>
            <li>наконец: уходить надо вовремя.</li>
        </ul>
    </b></p>
    <h2>Тренер Java</h2>
    Работы бывают разные: расслабление и застой, если сам не находишь себе достойных занятий (особенно в конторах, где
    программирование непрофильное или новички в бизнесе) или впахивание с ежедневными стэндапами.
    Для самообразования лучше первые, для получения насыщенного опыта - вторые. Работая расслаблено, задумался о
    написании курса по Java. И вскоре после этого в "Мой Круг" пришло предложение попреподавать в СПб в платном учебном
    центре.
    В результате согласился и с октября 2013 г. провел несколько очных выпусков своего курса "Практика Java. Разработки
    Web приложения" на котором разрабатывается база данных резюме и корпоративный вебинар "Веб-сервисы. SOA-based
    архитектура".
    Конечно тогда они были сырые, я только отрабатывал методику написания законченного приложения на протяжении всего
    процесса обучения. Не было ни домашних заданий, ни git, ни JUnit, появившихся позже.
    Паралельно разрабатывал проект Topjava, основанный на вступительном задании в Toptal. В преподавании хотелось
    некоторой автономии - например приводить участников на курс с небольшой скидкой и получать за них комиссионные,
    что шло вразрез с позицией руководства учебного центра и они без уведомления сняли меня с преподавания. Через
    месяц после этого я случайно узнал, что они на несколько месяцев снизили цены втрое на вебинары моего курса c другим
    преподавателем.
    А я стал сам вести вебинары по разработке Web и скрести по всем сусекам для набора на первй выпуск Topjava: запустил
    его в августе 2014, набралось целых 6 человек!
    <h2>Светлое настоящее</h2>
    Сейчас идет 6-й выпуск <a href="https://github.com/JavaOPs/topjava">проекта Topjava</a>, в команде slack обучается
    115 человек. На сегодняшний день это мой самый востребованный проект и самые востребованные на рынке Java
    фреймворки,
    здесь можно <a href="https://vk.com/topic-74381644_30447246">почитать отзывы выпускников</a>.
    Но работа над проектом не останавливается: дорабатываются видео, рефакторится код. 25.03 запускаю очередной (7-й)
    совмещенный с рассылкой вебинар-интенсив <a href="http://javawebinar.ru/basejava/">"Практика Java. Разработка Web
    приложения"</a> (2 раза в неделю).
    В ближайших планах обновить вебинар <a href="http://javaops.ru/reg/masterjava/">Веб-сервисы. SOA-based
    архитектура</a>, дополнив его микросервисами.
    Также разрабатываю проект Topjava-2: <a href="http://projects.spring.io/spring-boot/">Spring Boot</a>, <a
        href="http://www.h2database.com/">H2</a>, <a href="http://www.thymeleaf.org/">Thymleaf</a>, <a
        href="http://aws.amazon.com/ru/free/">AWS</a>, <a
        href="http://nginx.org/ru/">nginx</a>,
    авторизация по OAuth2, асинхронность, <a href="https://github.com/google/guava">Guava</a> и пока еще не выбрал UI,
    склоняюсь к <a href="https://www.sencha.com/products/gxt/#overview">Sencha GXT/GWT</a>.
    Конечно же, стараюсь содействовать <a href="https://github.com/JavaOPs/topjava/blob/master/cv.md">трудоустройству
    своих выпускников</a>.
    <hr/>
    Приглашаю к <a href="http://javawebinar.ru/">участию в проектах</a> (интенсив "Разработка Web приложения" с 25.03 и
    следующий набор Java Enterprise Topjava 26.05) и готов к любым вариантам
    сотрудничества. <br/>
    <blockquote>
        <a href="mailto:gkislin@yandex.ru">email: gkislin@yandex.ru</a><br/>
        <a href="skype:grigory.kislin">skype: grigory.kislin</a><br/>
        тел: +7 (921) 855 0482<br/>
        <a href="http://gkislin.ru">Григорий Кислин</a>, 15/03/2016
    </blockquote>
    <hr/>
    <h4><a href="/view/story">К списку историй</a></h4>
    <th:block th:include="fragments::footer"/>
</div>
</body>
<th:block th:include="fragments::js-skype"/>
</html>