<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Десятое занятие проекта TopJava Enterprise</title>
</head>
<body>
<p th:replace="mailFragments::header(${user})">
    Здравствуй firstName!
</p>
<p>
    Выложил <a href="https://github.com/JavaWebinar/topjava09/blob/doc/doc/lesson10.md">десятое занятие нашего
    проекта</a>.<br/>
    И 23.02 проведем заключительное занятие проекта с деплоем в Heroku.
</p>
<p>
    Обсуждение урока и домашнего задания в Slack <a href="https://topjava9.slack.com/messages/hw9">#hw10</a>
</p>
<p>
    Напоминаю про группу Slack <b>Java Online Projects</b>, где мы все общаемся на IT темы (помощь с Java, отзывы о работах,
    обсуждение тестовых заданий,
    вакансии, цены на рынке труда, IT события, интересные видео по теме и пр.).
    Проверь свои <a
        th:href="@{http://javaops.ru/participate(email=${user.email}, key=${activationKey}, project='javaops')}">контактные
    данные</a>.
    Галочка 'размещение своих данных в закрытой статистике группы' говорит о том, что участники проектов смогут
    увидеть твой город и skype в списке, а ты сможешь найти там разработчиков из своего города.
    <b>После сохранения формы на почту должно прийти приглашение в группу Slack</b> (обычно в течении 5 минут) и откроется ссылка на список
    участников, отсортированный по городам.
</p>
<p>Для участников с проверкой ДЗ принимаю тестовый проект на ревью в течении 3 недель после окончания проекта, до 14.03.<br/>
Следующий проект TopJava начнется 16.02 (первое занятие 23.03, <a href="http://javawebinar.ru/topjava/">тут есть расписание</a>)
</p>
<p>
    Домашнее задание (у кого есть проверка) желательно присылать до вечера 21.02<br/>
</p>
<p th:include="mailFragments::lessonFooter">
</p>
</body>
</html>