<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Десятое занятие проекта TopJava Enterprise</title>
</head>
<body>
<p th:replace="mailFragments::header(${user})">
    Здравствуй firstName!
</p>
<p>
    Выложил <a href="https://github.com/JavaWebinar/topjava10/blob/doc/doc/lesson10.md">десятое занятие нашего
    проекта</a>.<br/>
    Обсуждение занятия и домашнего задания в Slack <a href="https://topjava10.slack.com/messages/hw10">#hw10</a><br/>
    Не тяните с выполнением Домашнее задания<br/>
</p>
<p>
08.06 проведем заключительное занятие с деплоем в Heroku.<br/>
Для участников с проверкой ДЗ принимаю выпускной проект на ревью в течении 3 недель после окончания Topjava, до 06.07.<br/>
</p>
<p>
    Напоминаю про группу Slack <b>Java Online Projects</b>, где мы все общаемся на IT темы (помощь с Java, отзывы о работах,
    обсуждение тестовых заданий,
    вакансии, цены на рынке труда, IT события, интересные видео по теме и пр.)
    Проверь свои <a
        th:href="@{http://javaops.ru/participate(email=${user.email}, key=${activationKey}, project='javaops')}">контактные
    данные</a>.
    Галочка 'размещение своих данных в закрытой статистике группы' говорит о том, что участники проектов смогут
    увидеть твой город и skype в списке, а ты сможешь найти там разработчиков из своего города.
    <b>После сохранения формы на почту должно прийти приглашение в группу Slack</b> (обычно в течении 5 минут) и откроется ссылка на список
    участников, отсортированный по городам. <b>Группу topjava10 после окончания проекта удалю.</b>
</p>
Следующий выпуск TopJava11 начнется 06.07 (первое занятие 13.07, <a href="http://javaops.ru/reg/topjava/">внизу расписание</a>).
Повторное участие без проверки домашних заданий бесплатное. Единственное условие: <b>пожалуйста сделай репост <a href="https://vk.com/javawebinar?w=wall-58538268_770">объявления о наборе в VK</a> или <a href="https://www.facebook.com//gkislin/posts/10213543848935831">в Facebook</a></b>.
Для повторного участия <b><a th:href="@{http://javaops.ru/repeat(email=${user.email}, project='topjava')}">зарегистрируйся тут</a></b> и тебе
    придет ссылка на группу Slack <b>topjava11</b>.
<p th:include="mailFragments::lessonFooter">
</p>
</body>
</html>