<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Четвертое занятие проекта TopJava Enterprise</title>
</head>
<body>
<p th:replace="mailFragments::header(${user})">
    Здравствуй firstName!
</p>
<p>
    Четвертое занятие нашего проекта:
    <a href="https://github.com/JavaWebinar/topjava10/blob/doc/doc/lesson04.md">популирование данных через Spring, JPA/
        Hibernate, HSQLDB</a>.<br/>
    Материалов по JPA огромное количество. Чтобы не утонуть - не надо пытаться освоить все сразу. Пока достаточно того, что нужно для выполнения HW4.
    Обсуждение урока и домашнего задания в <a href="https://topjava10.slack.com/messages/hw4">slack #hw4</a>
</p>
<p>
    <b>
        После выполнения этого достаточно несложного HW4 можно приступать к выполнению <a
            href="https://github.com/JavaWebinar/topjava10/blob/doc/doc/lesson04.md#Выпускной-проект">выпускного
        проекта</a>.
        Выпускной проект делаете в паралели с нашим (прошли тему урока - сделали ее в выпускном). Срок сдачи на ревью у участников с проверкой- до 07.07
        Последнее занятие стажировки 08.06 (<a href="https://github.com/JavaWebinar/topjava10">см. расписание</a>). В майские праздники 04.05 занятия не будет: HW6 достаточно большое и будет время занятся выпускным.
    </b>
</p>
<p>Нашу группу Slack <b>topjava10</b> я удалю после проверки выпускных проектов, поэтому приглашаю тебя уже сейчас в общую группу Slack <b>Java Online Projects</b>, где мы все общаемся на любые темы IT (помощь с Java,
    отзывы о работах, обсуждение тестовых заданий,
    вакансии, цены на рынке труда, IT события, интересные видео по теме и пр.)
    По каждой теме сделан свой канал. Проверь свои <a
            th:href="@{http://javaops.ru/participate(email=${user.email}, key=${activationKey}, project='javaops')}" href="">контактные
        данные</a>.
    Галочка 'размещение своих данных в закрытой статистике группы' говорит о том, что участники проектов смогут
    увидеть твой город и skype в списке, а ты сможешь найти там разработчиков из своего города.
    После сохранения формы на почту должно прийти приглашение в группу выпускников Slack и откроется ссылка на список
    участников, отсортированный по городам.
</p>
<p>
    Домашнее задание HW4 (у кого есть проверка) присылать до вечера 18.04.<br/>
</p>
<p th:include="mailFragments::lessonFooter">
</p>
</body>
</html>