<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Третье занятие проекта TopJava Enterprise</title>
</head>
<body>
<p th:replace="mailFragments::header(${user})">
    Здравствуй firstName!
</p>
Третье занятие нашего проекта: <a href="https://github.com/JavaWebinar/topjava08/blob/doc/doc/lesson03.md">JUnit
    тестирование и начало работы с DB</a>.<br/>
Если с SQL и RDBMS не работали- прочтите основы по ссылкам.
<p>
    Перед началом урока код в ветке master твоего проекта должна быть в том же состоянии, что и <a
        href="https://github.com/JavaWebinar/topjava08/commits/master">в моей ветка master</a>.<br/>
    Обсуждение урока в slack <a href="https://topjava7.slack.com/messages/lesson03/">#lesson03</a>, HW3 в <a
        href="https://topjava7.slack.com/messages/hw3/">#hw3</a>.
</p>
<p>Приглашаю тебя в общую группу Slack <b>Java Online Projects</b>, где мы все общаемся на любые темы IT (помощь с Java, отзывы о работах, обсуждение тестовых заданий,
    вакансии, цены на рынке труда, IT события, интересные видео по теме и пр.)
    По каждой теме сделан свой канал. Проверь свои <a
            th:href="@{http://javaops.ru/participate(email=${user.email}, key=${activationKey}, project='javaops')}">контактные
        данные</a>.
    Галочка 'размещение своих данных в закрытой статистике группы' говорит о том, что участники проектов смогут
    увидеть твой город и skype в списке, а ты сможешь найти там разработчиков из своего города.
    После сохранения формы на почту должно прийти приглашение в группу Slack и откроется ссылка на список
    участников, отсортированный по городам.
</p>
<p>
    Домашнее задание (у кого есть проверка) желательно присылать до вечера 27.09.<br/>
</p>
<p th:include="mailFragments::lessonFooter">
</p>
</body>
</html>