<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Окончание проекта 'Java Enterprise (TopJava)'</title>
</head>
<p th:replace="mailFragments::header(${user})">
    Здравствуй firstName!<br/>
</p>
<p>
    Спасибо за участие в проекте Java Enterprise (TopJava)! <br/>
    Надеюсь что проект прошел с пользой для тебя и ты, если еще не работаешь, то уже ходишь на собеседования и в процессе трудоустройства на Java разработчика.
</p>
В недалеком будующем планирую сделать адресную рассылку вакансий и статистику по работе, пока это простая <a href="https://github.com/JavaOPs/topjava/blob/master/cv.md#В-течении-проекта-заполните-форму-соискателя-Разработчик-java">форма соискателя</a>.
Если у тебя на работе есть вакансии для наших выпускников, публикуй их в <a href="https://javaops.slack.com/archives/vacancies">#vacancies группы JavaOPs</a>
(после выполнения выпускного проекта группу slack topjava8 удалю, общаемся в <b><a th:href="@{http://javaops.ru/participate(email=${user.email}, key=${activationKey}, project='javaops')}">этой группе (после сохранения формы должно прийти приглашение)</a></b>.<br/>
К этим выходным проект <a href="https://github.com/JavaWebinar/topjava08">github topjava08</a> заархивирую, положу в google drive и удалю (доступ в <a href="https://drive.google.com/open?id=0B9Ye2auQ_NsFflp6ZHBLSFI2OGVEZ2NQU0pzZkx4SnFmOWlzX0lzcDFjSi1SRk5OdzBYYkU">google drive</a> у тебя остается).<br/>
<p>
Если есть желание, можно <a href="http://javaops.ru/vacation/test.html">пройти со мной тестовое интервью</a> (здесь также есть полезные ссылки для подготовки, расценки внизу).<br/>
Напомню, что в феврале 2017 г. планирую второй выпуск курса <a href="http://javawebinar.ru/masterjava/">Многопоточность. XML. Веб сервисы</a>, доступно 1-е занятие.<br/>
Спасибо всем, кто принял участие в <a href="http://goo.gl/forms/PtFcPqEV5n">опросе по проекту</a>, там всего 6 вопросов. Кто не успел- ответьте плз!
</p>
<h3>Буду очень признателен за <a href="https://vk.com/topic-74381644_30447246">отзыв в VK</a> (или в личку slak, если нет VK аккаунта).<br/>
    Новый выпуск <a href="http://javawebinar.ru/topjava">стартует 01.12 (первое занятие 08.12)</a>, приглашай знакомых.</h3>
<p>
    Добавляйся в группу VK: <b><a href="https://vk.com/javawebinar">практика Java (Web/ Enterprise)</a></b>, все интересное публикую там.<br/>
</p>
До встречи на новых проектах!
<p th:include="mailFragments::footer(${subscriptionUrl})">
</p>
</html>