<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Окончание проекта-стажировки 'Java Enterprise (TopJava)'</title>
</head>
<p th:replace="mailFragments::header(${user})">
    Здравствуй firstName!<br/>
</p>
<p>
    Спасибо за участие в проекте-стажировке Java Enterprise (Topjava)! И спасибо всем, кто принял участие в <a
        href="http://goo.gl/forms/PtFcPqEV5n">мини-опросе</a>.
    Кто еще не сделал, ответьте плз. на 4 вопроса.
</p>
ЗАВТРА, 16.06, буду делать рассылку обновлений по HR (на данный момент 87 HR контактов). Еще
можно успеть доделать резюме (см.
<a href="https://github.com/JavaWebinar/topjava10/blob/doc/doc/lesson11.md#-Замечания-по-резюме">замечания по резюме</a>)
и заполнить в
<a th:href="@{http://javaops.ru/profile(email=${user.email}, key=${activationKey})}">своем профиле</a> поля для HR:
<code>"Город (как он в комбо-боксе, если есть)", "Текущее место работы", "Ссылка на резюме", "Рассматриваю предложения о работе", "Готов к релокации", "Информация для HR"</code>.
Если у тебя на работе есть вакансии для наших выпускников, публикуй их в <a
        href="https://javaops.slack.com/messages/C1D96G1FS">#vacancies группы JavaOPs</a> и пришли мне email отдела
кадров, я вышлю им доступ к нашей базе.
<p>
    Группу slack topjava10 вскоре удалю, продолжаем общение в <a
        th:href="@{http://javaops.ru/participate(email=${user.email}, key=${activationKey}, project='javaops')}">Slack
    JavaOPs</a> (после сохранения формы должно прийти приглашение).
    Github репозиторий <a href="https://github.com/JavaWebinar/topjava10">topjava10</a> также скоро заархивирую и положу в <a
        href="https://drive.google.com/drive/folders/0B9Ye2auQ_NsFMFdDenZicjN3MnM">Google Drive</a> (доступ ко всем
    материалам остается).<br/>
</p>
<p>
    Если есть желание, можно <a href="http://javaops.ru/interview/test.html">пройти со мной тестовое интервью</a> (здесь
    также есть полезные ссылки для подготовки, расценки внизу).<br/>
</p>
<h4>Пожалуйста напиши <a href="https://vk.com/topic-74381644_30447246?offset=60">отзыв в VK</a> (или в личку
    Slack/skype, если нет VK аккаунта)!<br/>
    Новый выпуск <a href="http://javaops.ru/reg/topjava">topjava11</a> стартует 06.07 (первое занятие 13.07), приглашай
    знакомых.
</h4>
<h4>Сделал <a href="https://drive.google.com/open?id=0B9Ye2auQ_NsFcklVSU5OT2VQbjQ">последний патч</a>:</h4>
<ul>
    <li>Убрал <code>@SafeHtml</code> для полей <code>email</code> (валидируется на формат email) и <code>password</code>
        (не попадает в браузер)
    </li>
    <li>Сделал локализацию <code>NotFoundException</code>, отнаследовав ее от <code>ApplicationException</code></li>
    <li>Добавил вывод локализированных <code>ApplicationException</code> сообщений в <code>GlobalControllerExceptionHandler</code>
        (например при попытке отредактировать профиль админа в Heroku)
    </li>
</ul>
<p>
    Добавляйся в группу VK: <b><a href="https://vk.com/javawebinar">Стажировка Java Enterprise Online Projects</a></b>,
    все
    интересное публикую там.<br/>
</p>
До встреч на новых проектах! (в <a href="http://javaops.ru/reg/masterjava">Masterjava</a> до осени участие индивидуальное по готовым материалам и патчам с поддержкой в группе Slack).
Информацию об остальных проектах + систему бонусов вскоре разошлю.
<p th:include="mailFragments::footer(${subscriptionUrl})">
</p>
</html>