<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Четвертое занятие проекта TopJava Enterprise</title>
</head>
<body>
<p th:replace="mailFragments::header(${user})">
    Здравствуй firstName!
</p>
<p>
    Четвертое занятие нашего проекта:
    <a href="https://github.com/JavaWebinar/topjava09/blob/doc/doc/lesson04.md">популирование данных через Spring, JPA/
        Hibernate, HSQLDB</a>.<br/>
    Материалов по JPA огромное количество. Чтобы не утонуть - не надо пытаться освоить все сразу. Пока достаточно того, что нужно для выполнения HW4.<br/>
    Обсуждение урока и домашнего задания в <a href="https://topjava9.slack.com/messages/hw4">slack #hw4</a>
</p>
<p>
    <b>
        После выполнения этого достаточно несложного HW4 можно приступать к выполнению <a
            href="https://github.com/JavaWebinar/topjava09/blob/doc/doc/lesson04.md#Выпускной-проект">выпускного
        проекта</a>.
    </b>
</p>
<p>
    В следующий четверг занятия не будет, проведем вместо него вебинар (<b>примерно на час, запись будет</b>) по вашим вопросам (задавайте их в канал <a href="https://topjava9.slack.com/archives/general">#general</a>):
<h3>05.12 в 16.00 (GMT+3) нужно будет зайти по ссылке "<a href="https://www.youtube.com/watch?v=M4ODqY1hgUY">Собеседование. Разработка ПО. Вопросы</a>"</h3>
Я скорректировал <a href="https://github.com/JavaWebinar/topjava09/">расписание</a>, выпускной проект сдавать на ревью (у кого есть проверка) после окончания проекта 23.02 + 1 месяц.
</p>
<p>Нашу группу Slack <b>topjava9</b> я удалю после проверки выпускных проектов, поэтому приглашаю тебя уже сейчас в общую группу Slack <b>Java Online Projects</b>, где мы все общаемся на любые темы IT (помощь с Java,
    отзывы о работах, обсуждение тестовых заданий,
    вакансии, цены на рынке труда, IT события, интересные видео по теме и пр.)
    По каждой теме сделан свой канал. Проверь свои <a
            th:href="@{http://javaops.ru/participate(email=${user.email}, key=${activationKey}, project='javaops')}">контактные
        данные</a>.
    Галочка 'размещение своих данных в закрытой статистике группы' говорит о том, что участники проектов смогут
    увидеть твой город и skype в списке, а ты сможешь найти там разработчиков из своего города.
    После сохранения формы на почту должно прийти приглашение в группу Slack и откроется ссылка на список
    участников, отсортированный по городам.
</p>
<p>
    Домашнее задание HW4 (у кого есть проверка) присылать до вечера 10.01 (вторник перед 5-м занятием).<br/>
</p>
Удачи в освоении материалов и выполнении задания, жду на вебинаре и конечно же
<h3>поздравляю с наступающим Новым Годом!</h3>
Желаю, если ты еще в поиске работы, найти работу своей мечты и стать полноценным Java разработчиком, уже с комерческим опытом:)<br/>
Если уже работаешь - то стать сиьором и выше:)
<p th:include="mailFragments::footer(${subscriptionUrl})">
</p>
</body>
</html>