<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>11 заключительное занятие проекта 'Java Enterprise (TopJava)'</title>
</head>
<p th:replace="mailFragments::header(${user})">
    Здравствуй firstName!<br/>
</p>
Выложил <a href="https://github.com/JavaWebinar/topjava10/blob/doc/doc/lesson11.md">заключительное занятие </a> и
обновленное <a href="http://topjava.herokuapp.com/">демо приложение</a>.<br/>
Обсуждение занятия и твоего резюме в Slack <a href="https://topjava10.slack.com/messages/hw11/">#hw11</a><br/>
<a href="https://github.com/JavaWebinar/topjava10/blob/doc/doc/graduation.md#graduation-project">Выпускной
    проект</a> от участников с проверкой ДЗ нужно сдать на ревью до 06.07
(обратите внимание на <a href="https://github.com/JavaWebinar/topjava10/blob/doc/doc/graduation.md#-Рекомендации">рекомендации</a>).<br/>
При участии впроекте <a href="http://javaops.ru/reg/masterjava">Многомодульный maven. Многопоточность. XML (JAXB/StAX).
    Веб сервисы (JAX-RS/SOAP). Удаленное взаимодействие (JMS/AKKA)</a> срок на ревью + 3 месяца.
<p>
    <a href="https://drive.google.com/drive/u/0/folders/0B9Ye2auQ_NsFflp6ZHBLSFI2OGVEZ2NQU0pzZkx4SnFmOWlzX0lzcDFjSi1SRk5OdzBYYkU">Все
        материалы проекта</a> останутся тебе доступны (в течении нового курса они будут постепенно переезжать в подпапку
    Topjava11). Для просмотра в Chrome файлов md я пользуюсь <a
        href="https://chrome.google.com/webstore/detail/markdown-preview/jmchmkecamhbiokiopfpnfgbidieafmd">плагином
    Markdown Preview</a> (нужно в его параметрах разрешить открывать файл по ссылкам) или можно использовать плагин
    IDEA <b>Markdown support</b>.
</p>
<h4>Обновленное резюме внесите в <a th:href="@{http://javaops.ru/profile(email=${user.email}, key=${activationKey})}">свой
    профиль</a> (также проверьте флаг 'рассматриваю работу', 'готов к релокации' и информация для HR).
    Обновления базы соискателей буду рассылать по HR 14.06, постарайтесь успеть.</h4>
<h4>Буду очень признателен за репост <b><a href="https://vk.com/javawebinar?w=wall-58538268_770">набора на Topjava11 в
    VK</a> или <a href="https://www.facebook.com//gkislin/posts/10213543848935831">Facebook</a>,
</b></h4>
<h4>Открыта <b><a href="http://javaops.ru/reg/masterjava/">регистрация на проект MasterJava</a> (участие в проекте в
    индивидуальном порядке (в любое время) по готовым материалам и патчам с поддержкой в группе Slack).</b>
    Для всех участников осенью планируется стажировка (занятия раз в неделю) с обновлением проекта</h4>
<h4>Большая просьба <a href="http://goo.gl/forms/PtFcPqEV5n">ответить на 4-6 вопросов по проекту</a>, чтобы сделать его
    лучше. Если проект понравился, напиши пожалуйста в VK <a href="https://vk.com/topic-74381644_30447246?offset=50"> отзыв о
        проекте</a>.</h4>
<h4>После прохождения испытательного срока на работе не забудь поделиться <a href="http://javaops.ru/view/story">своей
    историей успеха</a>!<br/>
</h4>
<p>
    <a href="https://github.com/JavaWebinar/topjava10/blob/doc/doc/lesson11.md#Возможные-доработки-приложения">Доработки
        приложения</a> шли мне на ревью. Я включу ссылку на твой репозиторий в список для доступа к ним всех участников
    Topjava.
    Можно также участвовать в разработке <a href="http://javaops.ru">сайта Java Online Projects</a> (Spring Boot, <a
        href="https://github.com/gkislin/javaops">репозиторий в GitHub</a>, <a
        href="https://javaops.slack.com/archives/javaops_ru">канал в Slack</a>), с меня - выставление заданий и ревью. К сожалению по причине загрузки поддержка от меня будет небольшая.
</p>
<h4>Важные ссылки:</h4>
<ul>
    <li><a th:href="@{http://javaops.ru/repeat(email=${user.email}, project='topjava')}">Бесплатное повторное участие в
        Topjava11</a> (первое занятие 13.07)
    </li>
    <li><a th:href="@{http://javaops.ru/participate(email=${user.email}, key=${activationKey}, project='javaops')}">Регистрация
        в группе Slack выпускников <b>Java Online Projects</b></a></li>
    <li><a th:href="@{http://javaops.ru/users(email=${user.email}, key=${activationKey})}">Список участников,
        отсортированный по городам</a></li>
    <li><a href="http://javaops.ru/interview/test.html">Ссылки по темам интервью, тестовое интервью</a></li>
    <li><a href="https://github.com/JavaOPs/topjava/blob/master/cv.md">Составление резюме, подготовка к интервью, поиск
        работы</a></li>
</ul>
<h4>На следующей неделе сделаю заключительную рассылку по стажировке, системе бонусов и будующих проектах.</h4>
<p th:include="mailFragments::footer">
</p>
</html>