<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Уточнение релокации в профиле. Вакансия Java-разработчик (Москва,СПб)</title>
</head>
<!--/*@thymesVar id="user" type="ru.javaops.to.UserMail"*/-->
<p th:replace="mailFragments::header(${user})">
    Здравствуй firstName!<br/>
</p>
<p>
    Если у тебя поднят флаг "<b>Рассматриваю релокацию</b>", пожалуйста <b>уточни в <a
        th:href="@{http://javaops.ru/profile(email=${user.email}, key=${activationKey})}" href="">своем профиле</a>
    ее желаемое местонахождение</b>, например: только <i>Санкт-Петербург, Киев, Польша и Европа</i> (можно делать избыточно,
    множественный выбор через <code>Ctrl</code>).
    Будущая рассылка вакансий и внимание HR будут нацелено на тебя точнее!
</p>
<h3>В рамках сотрудничества с <a href="https://www.at-consulting.ru/">AT Consulting</a> производится набор на
    позицию Java-разработчик (Москва, Санкт-Петербург)</h3>
Проект по разработке высоконагруженной фронтальной системы у ведущего российского банка на
современном стеке технологий. <br/>
<a href="https://drive.google.com/open?id=0B9Ye2auQ_NsFMVNIWTVRdTI0bUk">Подробное описание
    в презентации</a>
<ul>Краткая информация о системе:
    <li>Общее число пользователей: более 200 000</li>
    <li>Бекенд на Spring</li>
    <li>Фронт базируется на React</li>
    <li>В разработке используется Agile-методология</li>
    <li>Все команды комплектуется как минимум одним высококлассным тимлидом, который курирует начинающих специалистов и
        выполняет ревью кода
    </li>
</ul>
<ul>Кратко о компании:
    <li>Ведущий системный интегратор <a href="https://www.at-consulting.ru/">AT Consulting</a>.</li>
    <li>Оформление по ТК. Белая заработная плата.</li>
    <li>Возможность обучения. Кураторство начинающих специалистов.</li>
</ul>
Если тебе вакансия интересна, пришли в ответ ссылку на резюме и <b>на свою реализацию <a href="https://github.com/JavaWebinar/topjava10/blob/doc/doc/graduation.md">выпускного проект Topjava</a></b> (или своего на подобном стеке).
Я сделаю небольшой фидбэк по решению. Время на ответ и количество кандидатов на вакансию не ограничено, но, чем быстрее, тем больше шансов.
<p th:include="mailFragments::footer">
</p>
</html>
