<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Трудоустройство: запущено сотрудничество с HR</title>
</head>
<p th:replace="mailFragments::header(${user})">
    Здравствуй firstName!<br/>
</p>
Рад сообщить, что начался процесс сотрудничества с HR (если у тебя поднят флаг <code>Рассматриваю предложения о работе</code>, возможно, ты уже начал получать рассылку).
Обращаю внимание, что поля, доступные сотрудникам HR: <code>имя, почта, скайп, город, ссылка на резюме, готов к релокации, "Обо мне. Опыт с Java"</code>.
<b>Проверь,  что в <a th:href="@{http://javaops.ru/profile(email=${user.email}, key=${activationKey})}">твоем профиле</a> все эти поля заполненны корректно.</b>
Например, если город есть в выпадающем списке, поставь его в этом виде (заглавные буквы не объязательны). На всякий случай повторю: <b>твои данные доступны HR только при включенном флаге "<code>Рассматриваю предложения о работе</code>"</b>.
Напомню про <a href="https://github.com/JavaOPs/topjava/blob/master/cv.md#Позиционирование-проекта-topjava">позиционирование проекта Topjava в своем резюме в опыте работы</a> (не как обучение, а как участие в проекте).
<p>
Если у тебя на работе готовы трудоустроить наших выпускников (среди которых есть очень хорошие готовые специалисты), пожалуйста дай мне email вашего отдела кадров (или дай им мои контакты).
Я занесу их в список доступа и напишу как делать запрос к данным соискателей.
</p>
<p>
    Наконец, если ты трудоустроился благодаря Topjava/<a href="http://javaops.ru/reg/masterjava/">Masterjava</a> и прошел испытательный срок, очень жду <b><a
        href="http://javaops.ru/view/story">историй успеха</a></b>.<br/>Помоги тем, кто еще в процессе трудоустройства!
</p>
Надеюсь вместе с вами сделать процесс трудоустройства простым и доступным каждому выпускнику!
<p th:include="mailFragments::footer">
</p>
</html>