<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Трудоустройство: 04.04 рассылка по HR (на данный момент 54 партнера)</title>
</head>
<p th:replace="mailFragments::header(${user})">
    Здравствуй firstName!<br/>
</p>
Рад сообщить, что договорился о партнерстве с 54-мя (на данный момент) организациями и HR-фрилансерами, которым интересны пре-миддл и миддл
Java разработчики (как с коммерческим опытом, так и без него). Если ты рассматриваешь предложения о работе (и уже готов проходить техническое собеседования), проверь что:
<ol>
    <li>в <a th:href="@{http://javaops.ru/profile(email=${user.email}, key=${activationKey})}" href="#">твоем профиле</a> есть ссылка на резюме</li>
    <li>резюме открыто и доступно без авторизации</li>
    <li>если еще нет опыта в it и ты закончил topjava/masterjava, они <a href="https://github.com/JavaOPs/topjava/blob/master/cv.md#Позиционирование-проекта-topjava">отображены в разделе опыт</a></li>
    <li>информация (город, о себе, готов к релокации, рассматриваю предложения о работе) актуальна</li>
</ol>
Твои данные доступны HR только при включенном флаге "<code>Рассматриваю предложения о работе</code>" и <b>присутствии ссылки на резюме</b>. Задача: получить опыт в как можно большем количестве технических интервью (см. <a href="http://javaops.ru/interview/test.html">типичные вопросы на собеседовании</a>).
    Результатами собеседований делимся в канале <code>#vacancies</code>
<a th:href="@{http://javaops.ru/participate(email=${user.email}, key=${activationKey}, project='javaops')}" href="#">группы выпускников Slack JavaOPs</a> (если ты участник проектов, можно присоединится по ссылке. После сохранения формы должно прийти приглашение).
<p>
    <b>Если резюме или ты еще не готовы, не расстраивайся: я буду рассылать всем HR обновления нашей базы кандидатов (скорее всего в начале июня).</b>
</p>
<p>
    Если у тебя на работе готовы трудоустроить наших выпускников (среди которых есть очень хорошие готовые специалисты) или есть знакомые HR, <b>пожалуйста дай мне email (или дай им мои контакты)</b>.
    Я занесу их в список доступа и напишу как делать запрос к данным соискателей.
</p>
<p>
    Наконец, если ты трудоустроился благодаря <a href="http://javaops.ru/reg/topjava/">Topjava</a> / <a href="http://javaops.ru/reg/masterjava/">Masterjava</a> и прошел испытательный срок,
    обнови поля профиля "<code>Получил работу благодаря стажировке Java Online Projects</code>" (для статистики) и "<code>Текущее место работы</code>" и <b>очень жду твою <a
        href="http://javaops.ru/view/story">историю успеха</a></b>. Помоги тем, кто еще в процессе трудоустройства!
</p>
Желаю удачи на собеседованиях и отличной карьеры в IT!
<p th:include="mailFragments::footer">
</p>
</html>