<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Регистрация IntelliJ IDEA</title>
</head>
<p th:replace="mailFragments::header(${user})">
    Здравствуй!<br/>
</p>
Для персональной регистрации IntelliJ IDEA на полгода:
<ul>
    <li><a href="https://www.jetbrains.com/idea/buy/#edition=personal">зайди по этой ссылке</a></li>
    <li>выбери в New Subscription кнопку <b>BUY NOW</b></li>
    <li>следуй <a href="https://sales.jetbrains.com/hc/en-gb/articles/206544449-How-can-I-claim-my-complimentary-subscription-or-license-">этой инструкции</a> (с пункта 2)</li>
    <li>под Product <b>IntelliJ IDEA</b> есть линк "Have a discount code?", введи туда <!--/*@thymesVar id="coupon" type="java.lang.String"*/-->
    <b th:text="${coupon}">купон</b></li>
    <li>после завершения заказа на почту приходит письмо с сертификатом. В IDEA я его активировал через <code>Help -> Register...-> JetBrains Account -> email/password -> Activate</code>. <br/>
        Возможно также активировать по ссылке из письма и <code>"Download activation code for offline usage"</code> или через <code>"Legacy license key"</code></li>
</ul>
Не спеши при регистрации. Если c нескольких раз не получилось, пиши в личку skype или slack.
<p th:include="mailFragments::generalFooter">
</p>
</html>