<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Осенний набор на стажировку от Javarush</title>
</head>
<p th:replace="mailFragments::header(${user})">
    Здравствуй!<br/>
</p>
<p>Ваше решение тестового задания проверено. Результат положительный.<br/>
    Поздравляю!! Вы зачислены на стажировку от Javarush 01.12.2016
</p>
<h3>Информация по проекту от преподавателя Кислина Григория:</h3>
Общение на проекте предлагаю на "ты".<br/>
Проект ведется по подготовленным на основе вебинара, разбитым по темам и отредактированым записям. Раз в неделю
(четверг) производится рассылка новых материалов, обновления к проекту (патчи) и домашние задания. Все домашние
задания являются чаcтью проекта, подобранны по темам занятий и требуют реализации функциональности, схожей с
пройденной на занятии.
<h4>Заполнение регистрационной формы</h4>
Общение на проекте будет вестись в Slack. Заполни пожалуйста все поля <a
        th:href="@{http://javaops.ru/participate(email=${user.email}, key=${activationKey}, project='topjava')}"
        href="#">регистрационной формы</a>,
и на почту придет приглашение в группу Slack. Для доступа к
материалам проекта нужен gmail аккаунт, поэтому поле gmail объязательно.
Общение в Slack происходит в каналах по темам, для каждого нового урока будет делаться отдельный канал.
Обсуждение вступительного занятия происходит в канале Slack <a
        href="https://topjava9.slack.com/messages/hw0/">#hw0</a>.<br/>
<ul>Другие каналы Slack:
    <li><a href="https://topjava9.slack.com/messages/flooding/">#flooding</a>: оффтопик</li>
    <li><a href="https://topjava9.slack.com/messages/general/">#general</a>: общие вопросы</li>
    <li><a href="https://topjava9.slack.com/messages/git/">#git</a>: вопросы по git</li>
    <li><a href="https://topjava9.slack.com/messages/idea/">#idea</a>: вопросы по idea</li>
    <li><a href="https://topjava9.slack.com/messages/interview_job">#interview_job</a>: прохождение интервью, работа, вакансии</li>
    <li><a href="https://topjava9.slack.com/messages/useful_resources">#useful_resources</a>: интересные ресурсы</li>
</ul>
<a href="https://get.slack.help/hc/en-us/articles/202288908-Formatting-your-messages">Форматирование сообщений в
    slack</a><br/>
<a href="https://slack.com/downloads">Desktop/ Mobile приложение Slack</a>
<h4>IDE: JetBrains IDEA</h4>
<a href="https://habrahabr.ru/post/112749/">IDEA считается лучшей Java IDE</a>, и по <a
        href="http://zeroturnaround.com/rebellabs/java-tools-and-technologies-landscape-2016/">последней
    статистике</a> IntelliJ is the number one IDE.<br/>
Netbeans хорош для новичков и индусов (в Индии его 80%).<br/>
Поэтому разработка проекта ведется в JetBrains IDEA, <a href="https://www.jetbrains.com/idea/download">брать версию Ultimate</a><br/>
Если ты студент (или есть знакомые студенты/ аспиранты), то лучше взять <a
        href="https://www.jetbrains.com/student/">студенческую
    учебную лицензию JetBrains IDEA на год</a>.<br/>Учебную лицензию на IDEA и доступ ко всем материалам проекта буду рассылать 01.12.
<h3>Вступительное занятие</h3>
До старта проекта 01.12 можно <b>приступать в выполнению <a href="https://github.com/JavaOPs/topjava/">вступительного
    занятия</a></b>.
Перед выполнением домашнего задания и чекином в свой репозиторий <b>объязательно посмотри все видео занятия</b> и следуй
инструкциям. Особое внимание обращаю на <b><a href="https://github.com/JavaOPs/topjava/wiki/Git">wiki по ведению
    проекта в Git</a>, необходимо строго следовать этим правилам</b>.
<h4>Проверка домашних заданий</h4>
Разбор домашний заданий происходит в начале каждого занятия.<br/>
Если у тебя подписка <b>ментор</b>, то свое решение вступительного задания нужно присылать на проверку начиная c
02.12 до вечера 06.12, остальных домашних заданий - до вечера вторника.
<p>
    Проверка заданий подразумевает ревью твоего кода. Ты увидишь именно свои ошибки в стиле, структурах данных,
    алгоритмах и кодировании. <b>Это самый эффективный способ научиться программировать</b>. Все домашние задания
    это часть проекта. Часть из них достаточно простая, часть Optional - сложнее. Обычно участники чекинят код в
    гитхаб и шлют мне ссылку на репозиторий. Я проверяю и фидбэк пишу в slack. Получается эффективно и
    оперативно. Можно что-то переделать и снова поревьюится.<br/>
    Если есть желание участвовать в проекте с проверкой заданий и нет подписки ментор, по поводу доплаты свяжись со мной
    отдельно по
    skype: grigory.kislin<br/>
</p>
<h4>Ресурсы</h4>
Основы JavaSсript необходимы для понимания проекта, начиная с 8-го занятия. Для подготовки к проекту <b>рекомендую изучить <a
        href="https://github.com/JavaOPs/topjava#Ресурсы-для-подготовки-к-проекту">полезные ресурсы</a></b>.
<ul>
    <li><a href="https://github.com/JavaOPs/topjava/wiki">Wiki по проекту</a></li>
    <li><a href="https://github.com/JavaOPs/topjava/wiki/Git">Wiki по GIT</a></li>
    <li><a href="https://github.com/JavaOPs/topjava/wiki/Maven">Wiki по Maven</a></li>
    <li><a href="https://github.com/JavaOPs/topjava/wiki/IDEA">Wiki по IDEA</a></li>
</ul>
<p>
    <span>Удачи в освоении материалов и выполнении задания,</span><br/>
    Григорий Кислин<br/>
    <em>skype: grigory.kislin</em>
</p>
<p>
    <a href="http://javaops.ru">Java Online Projects</a>
</p>
</html>
