<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="header (user)">
    <p th:text="|Здравствуй ${user.firstName}!|"></p>
</div>

<div th:fragment="footer (subscriptionUrl)">
    <p>
        <span>С лучшими пожеланиями,</span><br/>
        Григорий Кислин<br/>
        <em>skype: grigory.kislin</em>
    </p>
    <p>
        <a th:href="@{http://javaops.ru/profile(email=${user.email}, key=${activationKey})}">Личный профиль</a><br/>
        <a href="http://javaops.ru">Java Online Projects</a><br/>
        <a href="https://vk.com/javawebinar">группа VK: Стажировка Java Enterprise Online Projects</a><br/>
    </p>
    <p style="font-size: small">
        <a th:href="${subscriptionUrl}">Отписаться от рассылки</a><br/>
    </p>
</div>

<div th:fragment="lessonFooter">
    <p>
        <span>Удачи в освоении материалов и выполнении задания,</span><br/>
        Григорий Кислин<br/>
        <em>skype: grigory.kislin</em>
    </p>
    <p>
        <a th:href="@{http://javaops.ru/profile(email=${user.email}, key=${activationKey})}">Личный профиль</a><br/>
        <a href="http://javaops.ru">Java Online Projects</a><br/>
        <a href="https://vk.com/javawebinar">группа VK: Стажировка Java Enterprise Online Projects</a>
    </p>
</div>
<div th:fragment="generalFooter">
    <p>
        <span>С лучшими пожеланиями,</span><br/>
        Григорий Кислин<br/>
        <em>skype: grigory.kislin</em>
    </p>
    <p>
        <a th:href="@{http://javaops.ru/profile(email=${user.email}, key=${activationKey})}">Личный профиль</a><br/>
        <a href="http://javaops.ru">Java Online Projects</a><br/>
        <a href="https://vk.com/javawebinar">группа VK: Стажировка Java Enterprise Online Projects</a>
    </p>
</div>
</html>