<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="header (user)">
    <p th:text="|Здравствуй ${user.firstName}!|"></p>
</div>

<div th:fragment="footer (subscriptionUrl)">
    <p>
        <span>С лучшими пожеланиями,</span><br/>
        Григорий Кислин<br/>
        <em>skype: grigory.kislin</em>
    </p>
    <p>
        <a th:href="@{http://javaops.ru/profile(email=${user.email}, key=${activationKey})}">Личный профиль</a><br/>
        <a href="http://javaops.ru">Java Online Projects</a><br/>
        <a href="https://vk.com/javawebinar">vk: Java Enterprise Online Projects</a> (все самое интересное из мира Java
        и IT)
    </p>
    <p style="font-size: small">
        <a th:href="${subscriptionUrl}">Отписаться от рассылки</a><br/>
    </p>
</div>

<div th:fragment="lessonFooter">
    <p>
        <span>Удачи в освоении материалов и выполнении задания,</span><br/>
        Григорий Кислин<br/>
        <em>skype: grigory.kislin</em>
    </p>
    <p>
        <a th:href="@{http://javaops.ru/profile(email=${user.email}, key=${activationKey})}">Личный профиль</a><br/>
        <a href="http://javaops.ru">Java Online Projects</a><br/>
        <a href="https://vk.com/javawebinar">vk: Java Enterprise Online Projects</a> (все самое интересное из мира Java
        и IT)
    </p>
</div>
<div th:fragment="generalFooter">
    <p>
        <span>С лучшими пожеланиями,</span><br/>
        Григорий Кислин<br/>
        <em>skype: grigory.kislin</em>
    </p>
    <p>
        <a th:href="@{http://javaops.ru/profile(email=${user.email}, key=${activationKey})}">Личный профиль</a><br/>
        <a href="http://javaops.ru">Java Online Projects</a><br/>
        <a href="https://vk.com/javawebinar">vk: Java Enterprise Online Projects</a> (все самое интересное из мира Java
        и IT)
    </p>
</div>
<div th:fragment="simpleFooter">
    <p>
        <span>С лучшими пожеланиями,</span><br/>
        Григорий Кислин<br/>
        <em>skype: grigory.kislin</em>
    </p>
</div>
<small th:fragment="bonus" style="font-size: small">
    <ul>На бонусы можно
        <li>получить скидку на любой из текущих проектов (<a
                href="http://javaops.ru/reg/masterjava?ch=mail">Masterjava</a>,
            <a href="http://javaops.ru/reg/basejava?ch=mail">Basejava</a>, <a
                    href="http://javaops.ru/reg/topjava?ch=mail">Topjava</a>), 1 бонус = 1% скидки
        </li>
        <li>получить скидку на будущие проекты. В конце лета планирую дополнения к Topjava (Java Config, Thymleaf, H2,
            Bean Mapping, Ouath2, Spring Boot, ...). Следи за рассылкой.
        </li>
        <li>накопив от 100 бонусов получить комиссию деньгами (100 бонусов = 10 000 руб./ 175$)</li>
    </ul>
    <ul>Личные реферальные ссылки:
        <li th:text="|Topjava: ${topjavaRef}|"></li>
        <li th:text="|Masterjava: ${masterjavaRef}|"></li>
        <li th:text="|Basejava: ${basejavaRef}|"></li>
    </ul>
</small>
</html>