<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Участие в проекте 'Java Enterprise (TopJava)'</title>
</head>
<p th:replace="mailFragments::header(${user})">
    Здравствуй firstName!<br/>
</p>
Поздравляю тебя с участием на проекте Java Enterprise (Topjava), 7-й выпуск!<br/>
<h3>Проект</h3>
<p>Здесь я буду вести общий <a href="https://github.com/JavaWebinar/topjava07">проект topjava07 в гитхаб</a>.<br/>
    Форк лучше далать от него (см. вступительное ниже), хотя большой разницы нет.<br/>
    На заглавной странице - расписание занятий.<br/>
    Рассылка первого занятия будет в четверг, 02.06
</p>
<h3>Вступительное занятие</h3>
До первого занятия 02.06 необходимо установить необходимое ПО, настроить проект и выполнить домашнее задание по
инструкции из
<b style="font-size: larger"><a href="https://github.com/JavaOPs/topjava/">вступительного занятия</a></b>.
Перед выполнением домашнего задания и чекином в свой репозиторий объязательно посмотри видео и следуй
    инструкциям. Особое внимание обращаю на <a href="https://github.com/JavaOPs/topjava/wiki/Git">wiki по ведению
        проекта в Git</a>, необходимо строго следовать этим правилам.
<p>
Решение вступительного задания желательно присылать до вечера 31.05 (договорились в нашу группу skype).
</p>
<h3>Заполнение регистрационной формы</h3>
Общение на проекте будет вестись в Slack. Заполни пожалуйста пустые поля <a
        th:href="@{http://javaops.ru/participate(email=${user.email}, key=${activationKey}, project='topjava')}"
        href="#">регистрационной формы</a>,
    и на почту придет приглашение в группу Slack <a href="https://topjava7.slack.com">topjava7</a>. Для доступа к
    материалам проекта нужен gmail аккаунт, поэтому поле gmail объязательно.
<p>
    Общение в Slack происходит в каналах по темам, для каждого нового урока будет делаться отдельный канал.<br/>
    Обсуждение вступительного занятия происходит в канале Slack <a
        href="https://topjava7.slack.com/messages/entrance_lesson/">#entrance_lesson</a>.<br/>
</p>
<ul>Каналы Slack:
    <li><a href="https://topjava7.slack.com/messages/flooding/">#flooding</a>: оффтопик</li>
    <li><a href="https://topjava7.slack.com/messages/general/">#general</a>: общие вопросы</li>
    <li><a href="https://topjava7.slack.com/messages/git/">#git</a>: вопросы по git</li>
    <li><a href="https://topjava7.slack.com/messages/idea/">#idea</a>: вопросы по idea</li>
    <li><a href="https://topjava7.slack.com/messages/interview_job">#interview_job</a>: вопросы прохождения интервью,
        работа, вакансии
    </li>
</ul>

<a href="https://get.slack.help/hc/en-us/articles/202288908-Formatting-your-messages">Форматирование сообщениq в
    slack</a><br/>
<a href="https://slack.com/downloads">Desktop/ Mobile приложение Slack</a>
<p>
    До 02.06 (первого занятия) материалы Google Drive не нужны. Заполняй форму, я дам доступ в понедельник, как вернусь.
</p>
<h3>Ресурсы</h3>
Основы JavaSсript необходимы для понимания проекта, начиная с 8-го занятия. Лучше подготовится заранее <a href="https://github.com/JavaOPs/topjava#Ресурсы-для-подготовки-к-проекту">по ресурсам</a>.
<ul>Полезные ссылки:
    <li><a href="https://github.com/JavaOPs/topjava/wiki">Wiki по проекту</a></li>
    <li><a href="https://github.com/JavaOPs/topjava/wiki/Git">Wiki по GIT</a></li>
    <li><a href="https://github.com/JavaOPs/topjava/wiki/Maven">Wiki по Maven</a></li>
    <li><a href="https://github.com/JavaOPs/topjava/wiki/IDEA">Wiki по IDEA</a></li>
</ul>

<p>
    Завтра меня не будет, вернусь к вам в понедельник.<br/>
    <span>Удачи в освоении материалов и выполнении задания,</span><br/>
    Григорий Кислин<br/>
    <em>skype: grigory.kislin</em>
</p>
<p>
    <a href="http://javaops.ru">Java Online Projects</a>
</p>
</html>