<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Обновления в Topjava, Статистика и Трудоустройство.</title>
</head>
<p th:replace="mailFragments::header(${user})">
    Здравствуй firstName!<br/>
</p>
Проект Topjava постоянно развивается, в том числе благодаря вашему активному участию, появляются новые <a
        href="https://vk.com/topic-74381644_30447246?offset=40">отзывы участников</a>,
новые технологии (Bootstrap Glyphicons,
XSS, JPA 2.1 EntityGraph, Jackson @JsonView, методы улучшения качества кода) <a
        href="https://github.com/JavaOPs/topjava/blob/master/ReleaseNotes.md">список изменений по проектам</a>, новый дизайн <a
        href="http://topjava.herokuapp.com">демо приложения</a>. Код самого последнего (9-го) выпуска проекта <a
        href="https://github.com/gkislin/topjava">можно взять на GitHub</a>.
<h4>Если у тебя есть знакомые, желающие значительно поднять свой уровень владения самым востребованным в Java Enterprise
    стеке
    технологий и принять участие в проекте, до 01.03 <a href="http://javaops.ru/reg/topjava/">действует акция на
        юбилейный 10й проект: 7700 руб. (без проверки ДЗ) и 15000 руб. с проверкой</a>.</h4>
TopJava-10 начнется 16.03 (первое занятие 23.03, <a href="http://javaops.ru/reg/topjava/">расписание</a>).
Если есть желание повторно поучаствовать, небольшое условие: <b>пожалуйста сделай репост <a
        href="https://vk.com/javawebinar?w=wall-58538268_607">объявления о наборе в VK</a> или <a
        href="https://www.facebook.com//gkislin/posts/10212461996290191">в Facebook</a></b>
и <b><a th:href="@{http://javaops.ru/repeat(email=${user.email}, project='topjava')}">зарегистрируйся</a></b>,
придет ссылка на группу Slack <b>topjava10</b> (за репост буду благодарен, даже если не собираетесь идти на повтор:).
<hr/>
Проект <a href="http://javaops.ru">Java OPs</a> также развивается (хотя и не так быстро, как бы мне хотелось). Растет
число <b><a
        href="http://javaops.ru/story.html">историй успеха</a></b>.<br/>
<h3>А ты уже прошел испытательный срок и написал свою историю:)? <br/>
    Помоги тем, кто еще в процессе трудоустройства!</h3>

Также собираюсь делать рассылки по вакансиям более красиво, чем через <a href="http://goo.gl/forms/Oy5A7HNkWt">форму
    соискателя</a>.
<ul>В <b><a th:href="@{http://javaops.ru/profile(email=${user.email}, key=${activationKey})}">твоем профиле</a></b>
    появились поля
    <li><code>Рассматриваю предложения о работе</code>: рассылка о работе на почту, доступность твоих данных для HR</li>
    <li><code>Ссылка на резюме</code> (проверь, что оно открыто, не забудь вписать <a
            href="https://github.com/JavaOPs/topjava/blob/master/cv.md#Позиционирование-проекта-topjava">Topjava в
        опыт</a>)
    </li>
    <li><code>Готов к релокации</code>: рассматриваешь предложения независимо от города</li>
    <li><code>Текущее место работы</code> и <b><code>идет набор</code></b>: последнее, если у тебя на работе <b>готовы
        трудоустроить наших выпускников</b>, это важно!
    </li>
    <li><code>Получил работу благодаря стажировке Java Online Projects</code>: для статистики, которая будет доступна
        всем
    </li>
</ul>
Пожалуйста отредактируй город из выпадающего списка (в основном кириллицей), чтобы тебя нашли и скорректируй данные о
себе для HR, если рассматриваешь предложения о работе.<br/>
Надеюсь, что вместе с вами процесс трудоустройства станет простым и доступным каждому выпускнику!
<p th:include="mailFragments::footer(${subscriptionUrl})">
</p>
</html>