<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Регистрация в группе Slack "Java Online Projects".</title>
</head>
<!--/*@thymesVar id="user" type="ru.javaops.model.User"*/-->
<p th:replace="mailFragments::header(${user})">
    Здравствуй firstName!<br/>
</p>
Рад сообщить, что <b>группа skype</b> с общением выпускников и участников проектов на все темы IT (помощь с Java, отзывы о работах, обсуждение тестовых заданий, вакансии, цены на рынке труда, IT события, интересные видео по теме и пр.)
<b>переезжает на Slack! По каждой теме будет свой канал</b>.
<p>
Проверь пожалуйста свои данные <a th:href="@{http://javaops.ru/participate(email=${user.email}, key=${activationKey}, project='javaops')}">регистрационной формы</a>.
Галочка 'размещение своих данных в закрытой статистике группы' говорит о том, что участники проектов смогут увидеть твои контактные данные в статистике (приделаю позже).
</p>
После сохранения формы на почту должно прийти приглашение в новую группу. Приглащаю всех разработчиков!
<p th:include="mailFragments::footer(${subscriptionUrl})">
</p>
</html>
